openapi: 3.2.0
info:
  title: Synup Social Post Ideas API
  version: '4'
  description: 'REST API v4 for the Synup local marketing platform: business locations, listing syndication to 80+ directories, review/interaction aggregation and response, review campaigns, local rank tracking and grid-rank heatmaps, local and social posts, AI post ideas, menus, connected accounts, users and profile analytics.'
  contact:
    name: Synup Developer Documentation
    url: https://developer.synup.com/
  x-assembled-by: api-evangelist enrichment pipeline (local-v1)
  x-assembled-from: 506 per-endpoint OpenAPI fragments published at https://developer.synup.com/<slug>.md
  x-assembled-date: '2026-08-13'
servers:
- url: https://api.synup.com/api/v4
  description: Base ENV (as published in every Synup doc fragment). Tenant workspace domains (https://<workspace>.synup.com/api/v4) also serve the same API.
tags:
- name: Social Post Ideas
paths:
  /social-post-ideas/active-chat-session:
    get:
      summary: Active chat session
      deprecated: false
      description: Returns the currently active AI post-idea chat session for a brand (social profile), if one exists. Set `excludeSeries` to skip sessions that belong to a content series.
      operationId: activeChatSession
      tags:
      - Social Post Ideas
      parameters:
      - name: socialProfileId
        in: query
        description: Social profile ID.
        required: true
        example: 6f1c2a90-...
        schema:
          type: string
      - name: excludeSeries
        in: query
        description: Exclude sessions that belong to a content series.
        required: false
        example: ''
        schema:
          type: boolean
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      activeChatSession:
                        $ref: '#/components/schemas/ChatSession'
                    x-apidog-orders:
                    - activeChatSession
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Social Post Ideas
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40055529-run
  /social-post-ideas/analyze-reference-image:
    get:
      summary: Analyze reference image
      deprecated: false
      description: Analyzes a reference image at the given URL and returns a textual description that can be used to ground social post-idea generation. Optionally pass a `category` hint to focus the analysis.
      operationId: analyzeReferenceImage
      tags:
      - Social Post Ideas
      parameters:
      - name: imageUrl
        in: query
        description: URL of the image to analyze.
        required: true
        example: https://cdn.example.com/photo.jpg
        schema:
          type: string
      - name: category
        in: query
        description: Optional category hint to focus the analysis.
        required: false
        example: ''
        schema:
          type: string
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      analyzeReferenceImage:
                        $ref: '#/components/schemas/ReferenceImageAnalysis'
                    x-apidog-orders:
                    - analyzeReferenceImage
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Social Post Ideas
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40055530-run
  /social-post-ideas/archive-idea:
    post:
      summary: Archive idea
      deprecated: false
      description: Archives a social post idea so it no longer appears in active idea listings.
      operationId: archiveIdea
      tags:
      - Social Post Ideas
      parameters:
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArchiveIdeaRequest'
            example:
              ideaId: 91b2...
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      archiveIdea:
                        $ref: '#/components/schemas/MutationResponse'
                    x-apidog-orders:
                    - archiveIdea
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Social Post Ideas
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40055531-run
  /social-post-ideas/archive-series:
    post:
      summary: Archive series
      deprecated: false
      description: Archives a content series so it no longer appears in active series listings.
      operationId: archiveSeries
      tags:
      - Social Post Ideas
      parameters:
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArchiveSeriesRequest'
            example:
              seriesId: 3a1f...
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      archiveSeries:
                        $ref: '#/components/schemas/MutationResponse'
                    x-apidog-orders:
                    - archiveSeries
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Social Post Ideas
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40055564-run
  /social-post-ideas/branch-chat-session:
    post:
      summary: Branch chat session
      deprecated: false
      description: Creates a new chat session branched from an existing one (`parentSessionId`), anchored to a subject (`subjectType` required, `subjectId` optional). Use this to explore an alternative direction without losing the original conversation.
      operationId: branchChatSession
      tags:
      - Social Post Ideas
      parameters:
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BranchChatSessionRequest'
            example:
              parentSessionId: 7f3c1a2e-...
              subjectType: idea
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      branchChatSession:
                        $ref: '#/components/schemas/ChatSessionResponse'
                    x-apidog-orders:
                    - branchChatSession
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Social Post Ideas
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40055575-run
  /social-post-ideas/brand-info:
    get:
      summary: Brand info
      deprecated: false
      description: Returns the basic brand profile for a social profile — name, site URL, categories, and country — used to ground social post-idea generation.
      operationId: brandInfo
      tags:
      - Social Post Ideas
      parameters:
      - name: socialProfileId
        in: query
        description: Social profile ID.
        required: true
        example: 6f1c2a90-...
        schema:
          type: string
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      brandInfo:
                        $ref: '#/components/schemas/BrandInfo'
                    x-apidog-orders:
                    - brandInfo
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Social Post Ideas
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40055576-run
  /social-post-ideas/calendar:
    get:
      summary: Calendar
      deprecated: false
      description: Returns the content calendar for a brand (social profile) — each day with its scheduled/suggested post ideas.
      operationId: calendar
      tags:
      - Social Post Ideas
      parameters:
      - name: socialProfileId
        in: query
        description: Social profile ID.
        required: true
        example: 6f1c2a90-...
        schema:
          type: string
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      calendar:
                        type: array
                        items:
                          $ref: '#/components/schemas/CalendarDay'
                    x-apidog-orders:
                    - calendar
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Social Post Ideas
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40055577-run
  /social-post-ideas/chat-history:
    get:
      summary: Chat history
      deprecated: false
      description: Returns the messages for a given AI post-idea chat session, in sequence. Use `limit` to cap the number of messages returned.
      operationId: chatHistory
      tags:
      - Social Post Ideas
      parameters:
      - name: sessionId
        in: query
        description: Chat session ID.
        required: true
        example: 7f3c1a2e-...
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of messages to return.
        required: false
        example: 50
        schema:
          type: integer
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      chatHistory:
                        type: array
                        items:
                          $ref: '#/components/schemas/ChatMessage'
                    x-apidog-orders:
                    - chatHistory
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Social Post Ideas
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40055578-run
  /social-post-ideas/chat-sessions:
    get:
      summary: Chat sessions
      deprecated: false
      description: Returns the AI post-idea chat sessions for a brand (social profile), most recent first. Use `limit` to cap the number of sessions returned.
      operationId: chatSessions
      tags:
      - Social Post Ideas
      parameters:
      - name: socialProfileId
        in: query
        description: Social profile ID.
        required: true
        example: 6f1c2a90-...
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of sessions to return.
        required: false
        example: 20
        schema:
          type: integer
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      chatSessions:
                        type: array
                        items:
                          $ref: '#/components/schemas/ChatSession'
                    x-apidog-orders:
                    - chatSessions
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Social Post Ideas
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40055580-run
  /social-post-ideas/close-chat-session:
    post:
      summary: Close chat session
      deprecated: false
      description: Closes an active AI post-idea chat session. Once closed, the session is no longer returned as the active session for the brand.
      operationId: closeChatSession
      tags:
      - Social Post Ideas
      parameters:
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloseChatSessionRequest'
            example:
              sessionId: 7f3c1a2e-...
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      closeChatSession:
                        $ref: '#/components/schemas/MutationResponse'
                    x-apidog-orders:
                    - closeChatSession
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Social Post Ideas
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40055581-run
  /social-post-ideas/content-series-detail:
    get:
      summary: Content series detail
      deprecated: false
      description: Returns a single content series by ID, including its posts, theme, status, and post counts.
      operationId: contentSeriesDetail
      tags:
      - Social Post Ideas
      parameters:
      - name: seriesId
        in: query
        description: ID of the content series.
        required: true
        example: 3a1f...
        schema:
          type: string
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      contentSeriesDetail:
                        $ref: '#/components/schemas/ContentSeries'
                    x-apidog-orders:
                    - contentSeriesDetail
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Social Post Ideas
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40055584-run
  /social-post-ideas/content-series-list:
    get:
      summary: Content series list
      deprecated: false
      description: Returns the content series for a brand (social profile) — multi-post campaigns with a shared theme, including post counts and status.
      operationId: contentSeriesList
      tags:
      - Social Post Ideas
      parameters:
      - name: socialProfileId
        in: query
        description: Social profile ID.
        required: true
        example: 6f1c2a90-...
        schema:
          type: string
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      contentSeriesList:
                        type: array
                        items:
                          $ref: '#/components/schemas/ContentSeries'
                    x-apidog-orders:
                    - contentSeriesList
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Social Post Ideas
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40055587-run
  /social-post-ideas/create-content-series:
    post:
      summary: Create content series
      deprecated: false
      description: Creates a new content series for a brand (social profile) with a name and optional theme, optionally seeded from existing post ideas (`postIdeaIds`). Returns the chat session that drives the series.
      operationId: createContentSeries
      tags:
      - Social Post Ideas
      parameters:
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContentSeriesRequest'
            example:
              socialProfileId: 6f1c2a90-...
              name: Summer Series
              theme: seasonal
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      createContentSeries:
                        $ref: '#/components/schemas/ChatSessionResponse'
                    x-apidog-orders:
                    - createContentSeries
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Social Post Ideas
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40055588-run
  /social-post-ideas/extended-brand-config:
    get:
      summary: Extended brand config
      deprecated: false
      description: Returns the extended generation config for a social profile — brand tone, target customers, contact/address, brand colors and logos, and the services/products/content-rules used to ground social post-idea generation.
      operationId: extendedBrandConfig
      tags:
      - Social Post Ideas
      parameters:
      - name: socialProfileId
        in: query
        description: Social profile ID.
        required: true
        example: 6f1c2a90-...
        schema:
          type: string
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      extendedBrandConfig:
                        $ref: '#/components/schemas/ExtendedBrandConfig'
                    x-apidog-orders:
                    - extendedBrandConfig
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Social Post Ideas
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40055590-run
  /social-post-ideas/generate-all-series-posts:
    post:
      summary: Generate all series posts
      deprecated: false
      description: Generates all remaining posts for a content series in one call. Returns the number of posts generated.
      operationId: generateAllSeriesPosts
      tags:
      - Social Post Ideas
      parameters:
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateAllSeriesPostsRequest'
            example:
              socialProfileId: 6f1c2a90-...
              seriesId: 3a1f...
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      generateAllSeriesPosts:
                        $ref: '#/components/schemas/GenerateAllSeriesPostsResponse'
                    x-apidog-orders:
                    - generateAllSeriesPosts
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Social Post Ideas
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40055591-run
  /social-post-ideas/generate-calendar-day:
    post:
      summary: Generate calendar day
      deprecated: false
      description: Generates (or regenerates) the post idea for a specific calendar-day slot, identified by its idea ID.
      operationId: generateCalendarDay
      tags:
      - Social Post Ideas
      parameters:
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateCalendarDayRequest'
            example:
              ideaId: 91b2...
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      generateCalendarDay:
                        $ref: '#/components/schemas/RegenerateResponse'
                    x-apidog-orders:
                    - generateCalendarDay
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Social Post Ideas
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40055593-run
  /social-post-ideas/generate-holiday-idea-variant:
    post:
      summary: Generate holiday idea variant
      deprecated: false
      description: Generates a new post-idea variant for a given observance/holiday for a brand. Optionally steer with an `observanceDate` and `topic`.
      operationId: generateHolidayIdeaVariant
      tags:
      - Social Post Ideas
      parameters:
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateHolidayIdeaVariantRequest'
            example:
              socialProfileId: 6f1c2a90-...
              observanceName: Black Friday
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      generateHolidayIdeaVariant:
                        $ref: '#/components/schemas/RegenerateResponse'
                    x-apidog-orders:
                    - generateHolidayIdeaVariant
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Social Post Ideas
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40055594-run
  /social-post-ideas/generate-idea-visual:
    post:
      summary: Generate idea visual
      deprecated: false
      description: Generates an on-demand visual (image) for a social post idea from a prompt, optionally grounded by up to two `referenceImageUrls` and a target `imageSize`.
      operationId: generateIdeaVisual
      tags:
      - Social Post Ideas
      parameters:
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateIdeaVisualRequest'
            example:
              ideaId: 91b2...
              prompt: bright storefront on a sunny day
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      generateIdeaVisual:
                        $ref: '#/components/schemas/RegenerateResponse'
                    x-apidog-orders:
                    - generateIdeaVisual
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Social Post Ideas
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40055608-run
  /social-post-ideas/generate-observance-idea:
    post:
      summary: Generate observance idea
      deprecated: false
      description: Generates a post idea for a given observance/holiday for a brand. Optionally steer with an `observanceDate` and a `hint`.
      operationId: generateObservanceIdea
      tags:
      - Social Post Ideas
      parameters:
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateObservanceIdeaRequest'
            example:
              socialProfileId: 6f1c2a90-...
              observanceName: Earth Day
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      generateObservanceIdea:
                        $ref: '#/components/schemas/RegenerateResponse'
                    x-apidog-orders:
                    - generateObservanceIdea
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Social Post Ideas
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40055609-run
  /social-post-ideas/generate-series-post:
    post:
      summary: Generate series post
      deprecated: false
      description: Generates a single post for a content series at the given slot index.
      operationId: generateSeriesPost
      tags:
      - Social Post Ideas
      parameters:
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateSeriesPostRequest'
            example:
              socialProfileId: 6f1c2a90-...
              seriesId: 3a1f...
              slotIndex: 0
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      generateSeriesPost:
                        $ref: '#/components/schemas/RegenerateResponse'
                    x-apidog-orders:
                    - generateSeriesPost
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Social Post Ideas
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40055610-run
  /social-post-ideas/holiday-idea-variants:
    get:
      summary: Holiday idea variants
      deprecated: false
      description: Returns the generated post-idea variants for a given observance/holiday for a brand. Each item is a post idea (see Post idea for the full shape).
      operationId: holidayIdeaVariants
      tags:
      - Social Post Ideas
      parameters:
      - name: socialProfileId
        in: query
        description: Social profile ID.
        required: true
        example: 6f1c2a90-...
        schema:
          type: string
      - name: observanceName
        in: query
        description: Name of the observance/holiday.
        required: true
        example: Black Friday
        schema:
          type: string
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      holidayIdeaVariants:
                        type: array
                        description: Post ideas (see Post idea for the full shape).
                        items:
                          type: object
                          x-apidog-orders: []
                    x-apidog-orders:
                    - holidayIdeaVariants
                x-apidog-orders:
                - data
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Social Post Ideas
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40140127-run
  /social-post-ideas/idea-job-status:
    get:
      summary: Idea job status
      deprecated: false
      description: Returns the async job status for a social post idea (used to poll image generation) — the current status and, when ready, the generated image URL.
      operationId: ideaJobStatus
      tags:
      - Social Post Ideas
      parameters:
      - name: ideaId
        in: query
        description: ID of the post idea.
        required: true
        example: 91b2...
        schema:
          type: string
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      ideaJobStatus:
                        $ref: '#/components/schemas/IdeaJobStatus'
                    x-apidog-orders:
                    - ideaJobStatus
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Social Post Ideas
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40140134-run
  /social-post-ideas/image-credits:
    get:
      summary: Image credits
      deprecated: false
      description: Returns the image-generation credit status for a brand (social profile) — monthly limit, used/remaining this month, and any add-on credit pool.
      operationId: imageCredits
      tags:
      - Social Post Ideas
      parameters:
      - name: socialProfileId
        in: query
        description: Social profile ID.
        required: true
        example: 6f1c2a90-...
        schema:
          type: string
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      imageCredits:
                        $ref: '#/components/schemas/ImageCredits'
                    x-apidog-orders:
                    - imageCredits
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Social Post Ideas
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40140138-run
  /social-post-ideas/link-post-idea-to-social-post:
    post:
      summary: Link post idea to social post
      deprecated: false
      description: Links a generated post idea to a published social post, so the idea is marked as used and tracked against the social post.
      operationId: linkPostIdeaToSocialPost
      tags:
      - Social Post Ideas
      parameters:
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkPostIdeaToSocialPostRequest'
            example:
              postIdeaId: 91b2...
              socialPostId: 5d7e...
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      linkPostIdeaToSocialPost:
                        $ref: '#/components/schemas/LinkPostIdeaToSocialPostResponse'
                    x-apidog-orders:
                    - linkPostIdeaToSocialPost
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Social Post Ideas
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40140139-run
  /social-post-ideas/observances:
    get:
      summary: Observances
      deprecated: false
      description: Returns the observances (holidays, awareness days, etc.) for a given month, optionally scoped to a social profile and narrowed to a specific day. Each item includes whether ideas are ready and any generated post idea preview.
      operationId: observances
      tags:
      - Social Post Ideas
      parameters:
      - name: month
        in: query
        description: Month number (1-12).
        required: true
        example: 5
        schema:
          type: integer
      - name: date
        in: query
        description: Day of the month to narrow to.
        required: false
        example: 0
        schema:
          type: integer
      - name: socialProfileId
        in: query
        description: Social profile ID to scope relevance/ideas to.
        required: false
        example: ''
        schema:
          type: string
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      observances:
                        type: array
                        items:
                          $ref: '#/components/schemas/Observance'
                    x-apidog-orders:
                    - observances
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Social Post Ideas
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40140152-run
  /social-post-ideas/observances-with-ideas:
    get:
      summary: Observances with ideas
      deprecated: false
      description: Returns the observances for a month for a brand, each joined with its generated post idea (if any) — including whether ideas are ready and the idea's title/content/image.
      operationId: observancesWithIdeas
      tags:
      - Social Post Ideas
      parameters:
      - name: socialProfileId
        in: query
        description: Social profile ID.
        required: true
        example: 6f1c2a90-...
        schema:
          type: string
      - name: month
        in: query
        description: Month number (1-12).
        required: true
        example: 5
        schema:
          type: integer
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      observancesWithIdeas:
                        type: array
                        items:
                          $ref: '#/components/schemas/ObservanceWithIdea'
                    x-apidog-orders:
                    - observancesWithIdeas
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Social Post Ideas
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40140160-run
  /social-post-ideas/pipeline-status:
    get:
      summary: Pipeline status
      deprecated: false
      description: Returns the status of the post-idea generation pipeline for a brand (social profile) — current step, steps completed/remaining, and any error.
      operationId: pipelineStatus
      tags:
      - Social Post Ideas
      parameters:
      - name: socialProfileId
        in: query
        description: Social profile ID.
        required: true
        example: 6f1c2a90-...
        schema:
          type: string
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      pipelineStatus:
                        $ref: '#/components/schemas/PipelineStatus'
                    x-apidog-orders:
                    - pipelineStatus
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Social Post Ideas
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40140173-run
  /social-post-ideas/post-idea:
    get:
      summary: Post idea
      deprecated: false
      description: Returns a single AI social post idea by its ID, including its content, image, scheduling, call-to-action, and generation metadata.
      operationId: postIdea
      tags:
      - Social Post Ideas
      parameters:
      - name: ideaId
        in: query
        description: ID of the post idea.
        required: true
        example: 91b2...
        schema:
          type: string
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      postIdea:
                        $ref: '#/components/schemas/PostIdea'
                    x-apidog-orders:
                    - postIdea
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Social Post Ideas
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40140182-run
  /social-post-ideas/post-idea-counts:
    get:
      summary: Post idea counts
      deprecated: false
      description: 'Returns social post-idea counts for a brand, broken down by bucket: AI- generated (`ai`), user-created (`mine`), series (`series`), and the total (`all`).'
      operationId: postIdeaCounts
      tags:
      - Social Post Ideas
      parameters:
      - name: socialProfileId
        in: query
        description: Social profile ID.
        required: true
        example: 6f1c2a90-...
        schema:
          type: string
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      postIdeaCounts:
                        $ref: '#/components/schemas/PostIdeaCounts'
                    x-apidog-orders:
                    - postIdeaCounts
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Social Post Ideas
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40140183-run
  /social-post-ideas/post-ideas:
    get:
      summary: Post ideas
      deprecated: false
      description: Returns the AI social post ideas for a brand (social profile). Filter by `bucket` (e.g. idea, calendar, series) and `filter` (e.g. ai vs mine), and page with `limit`/`offset`.
      operationId: postIdeas
      tags:
      - Social Post Ideas
      parameters:
      - name: socialProfileId
        in: query
        description: Social profile ID.
        required: true
        example: 6f1c2a90-...
        schema:
          type: string
      - name: bucket
        in: query
        description: Bucket to filter by (e.g. idea, calendar, series).
        required: false
        example: ''
        schema:
          type: string
      - name: filter
        in: query
        description: Source filter (e.g. ai or mine).
        required: false
        example: ''
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of ideas to return.
        required: false
        example: 12
        schema:
          type: integer
      - name: offset
        in: query
        description: Number of ideas to skip.
        required: false
        example: 0
        schema:
          type: integer
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      postIdeas:
                        type: array
                        items:
                          $ref: '#/components/schemas/PostIdea'
                    x-apidog-orders:
                    - postIdeas
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Social Post Ideas
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40140416-run
  /social-post-ideas/reference-images:
    get:
      summary: Reference images
      deprecated: false
      description: Returns the available reference image options for a brand (social profile) — images that can be used to ground social post-idea image generation.
      operationId: referenceImages
      tags:
      - Social Post Ideas
      parameters:
      - name: socialProfileId
        in: query
        description: Social profile ID.
        required: true
        example: 6f1c2a90-...
        schema:
          type: string
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      referenceImages:
                        type: array
                        items:
                          $ref: '#/components/schemas/ReferenceImageOption'
                    x-apidog-orders:
                    - referenceImages
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Social Post Ideas
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40140418-run
  /social-post-ideas/refresh-ideas:
    post:
      summary: Refresh ideas
      deprecated: false
      description: Regenerates the set of AI social post ideas for a brand. Returns a pipeline ID; supply brand context (profile name, site URL, categories, hashtags, intent, content language) to steer generation.
      operationId: refreshIdeas
      tags:
      - Social Post Ideas
      parameters:
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshIdeasRequest'
            example:
              socialProfileId: 6f1c2a90-...
              profileName: Acme Co
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      refreshIdeas:
                        $ref: '#/components/schemas/TriggerPipelineResponse'
                    x-apidog-orders:
                    - refreshIdeas
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Social Post Ideas
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40140425-run
  /social-post-ideas/regenerate-idea:
    post:
      summary: Regenerate idea
      deprecated: false
      description: Regenerates an entire social post idea — both content and image. Optionally steer with a `topic` and a `referenceImageUrl`.
      operationId: regenerateIdea
      tags:
      - Social Post Ideas
      parameters:
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegenerateIdeaRequest'
            example:
              ideaId: 91b2...
              topic: summer launch
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      regenerateIdea:
                        $ref: '#/components/schemas/RegenerateResponse'
                    x-apidog-orders:
                    - regenerateIdea
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Social Post Ideas
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40140427-run
  /social-post-ideas/regenerate-idea-content:
    post:
      summary: Regenerate idea content
      deprecated: false
      description: Regenerates the text content (title/copy) of an existing social post idea, keeping its image. Optionally steer with a `topic`.
      operationId: regenerateIdeaContent
      tags:
      - Social Post Ideas
      parameters:
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegenerateIdeaContentRequest'
            example:
              ideaId: 91b2...
              topic: summer launch
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      regenerateIdeaContent:
                        $ref: '#/components/schemas/RegenerateResponse'
                    x-apidog-orders:
                    - regenerateIdeaContent
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Social Post Ideas
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40140428-run
  /social-post-ideas/regenerate-idea-image:
    post:
      summary: Regenerate idea image
      deprecated: false
      description: Regenerates the image of an existing social post idea, keeping its text content. Optionally provide a `referenceImageUrl` to ground the new image. Image generation is asynchronous — poll the idea job status for the new image URL.
      operationId: regenerateIdeaImage
      tags:
      - Social Post Ideas
      parameters:
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegenerateIdeaImageRequest'
            example:
              ideaId: 91b2...
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      regenerateIdeaImage:
                        $ref: '#/components/schemas/RegenerateResponse'
                    x-apidog-orders:
                    - regenerateIdeaImage
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Social Post Ideas
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40140435-run
  /social-post-ideas/schedule-series:
    post:
      summary: Schedule series
      deprecated: false
      description: Schedules a content series' posts starting from a given date. Returns the scheduled posts.
      operationId: scheduleSeries
      tags:
      - Social Post Ideas
      parameters:
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleSeriesRequest'
            example:
              seriesId: 3a1f...
              startDate: '2026-05-01'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      scheduleSeries:
                        $ref: '#/components/schemas/ScheduleSeriesResponse'
                    x-apidog-orders:
                    - scheduleSeries
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Social Post Ideas
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40140440-run
  /social-post-ideas/scrape-brand:
    post:
      summary: Scrape brand
      deprecated: false
      description: Triggers a scrape of the brand's website to refresh the context used for social post-idea generation. Provide the `siteUrl` to scrape; `trigger` optionally records what initiated the scrape.
      operationId: scrapeBrand
      tags:
      - Social Post Ideas
      parameters:
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScrapeBrandRequest'
            example:
              socialProfileId: 6f1c2a90-...
              siteUrl: https://example.com
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      scrapeBrand:
                        $ref: '#/components/schemas/MutationResponse'
                    x-apidog-orders:
                    - scrapeBrand
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Social Post Ideas
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40140472-run
  /social-post-ideas/scraped-brand-context:
    get:
      summary: Scraped brand context
      deprecated: false
      description: Returns the context scraped from the brand's website that grounds social post-idea generation — business name/description, services, products, pricing, brand colors/logo, tone, and target customers.
      operationId: scrapedBrandContext
      tags:
      - Social Post Ideas
      parameters:
      - name: socialProfileId
        in: query
        description: Social profile ID.
        required: true
        example: 6f1c2a90-...
        schema:
          type: string
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      scrapedBrandContext:
                        $ref: '#/components/schemas/ScrapedBrandContext'
                    x-apidog-orders:
                    - scrapedBrandContext
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Social Post Ideas
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40140475-run
  /social-post-ideas/send-chat-message:
    post:
      summary: Send chat message
      deprecated: false
      description: Sends a message to an AI post-idea chat session and returns the assistant's reply. The response may include a generated post idea card (`postCard`), follow-up action chips, and a series plan when relevant. Optionally attach `referenceImageUrls` for image-grounded generation.
      operationId: sendChatMessage
      tags:
      - Social Post Ideas
      parameters:
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendChatMessageRequest'
            example:
              sessionId: 7f3c1a2e-...
              message: Give me a post idea for our product launch
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      sendChatMessage:
                        $ref: '#/components/schemas/ChatMessageResponse'
                    x-apidog-orders:
                    - sendChatMessage
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Social Post Ideas
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40140476-run
  /social-post-ideas/series-posts:
    get:
      summary: Series posts
      deprecated: false
      description: Returns the posts belonging to a content series. Each item is a post idea (see Post idea for the full shape).
      operationId: seriesPosts
      tags:
      - Social Post Ideas
      parameters:
      - name: socialProfileId
        in: query
        description: Social profile ID.
        required: true
        example: 6f1c2a90-...
        schema:
          type: string
      - name: seriesId
        in: query
        description: ID of the content series.
        required: true
        example: 3a1f...
        schema:
          type: string
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      seriesPosts:
                        type: array
                        description: Posts in the series (see Post idea for the full shape).
                        items:
                          type: object
                          x-apidog-orders: []
                    x-apidog-orders:
                    - seriesPosts
                x-apidog-orders:
                - data
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Social Post Ideas
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40140477-run
  /social-post-ideas/set-brand-image-credits:
    post:
      summary: Set brand image credits
      deprecated: false
      description: Sets the monthly image-generation credit limit for a brand (social profile) and whether image-credit metering is active.
      operationId: setBrandImageCredits
      tags:
      - Social Post Ideas
      parameters:
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetBrandImageCreditsRequest'
            example:
              socialProfileId: 6f1c2a90-...
              monthlyLimit: 100
              isActive: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      setBrandImageCredits:
                        $ref: '#/components/schemas/MutationResponse'
                    x-apidog-orders:
                    - setBrandImageCredits
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Social Post Ideas
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40140480-run
  /social-post-ideas/start-chat-session:
    post:
      summary: Start chat session
      deprecated: false
      description: Starts a new AI post-idea chat session for a brand (social profile). Optionally seed with an `intent`, a `mode`, and a subject (`subjectType`/`subjectId`) to anchor the conversation.
      operationId: startChatSession
      tags:
      - Social Post Ideas
      parameters:
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartChatSessionRequest'
            example:
              socialProfileId: 6f1c2a90-...
              mode: fast
              intent: idea
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      startChatSession:
                        $ref: '#/components/schemas/ChatSessionResponse'
                    x-apidog-orders:
                    - startChatSession
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Social Post Ideas
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40140483-run
  /social-post-ideas/suggest-posts-for-date:
    post:
      summary: Suggest posts for date
      deprecated: false
      description: Generates suggested social post ideas for a brand on a specific date. Returns the generated ideas and a pipeline ID.
      operationId: suggestPostsForDate
      tags:
      - Social Post Ideas
      parameters:
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SuggestPostsForDateRequest'
            example:
              socialProfileId: 6f1c2a90-...
              date: '2026-05-01'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      suggestPostsForDate:
                        $ref: '#/components/schemas/GenerateIdeasResponse'
                    x-apidog-orders:
                    - suggestPostsForDate
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Social Post Ideas
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40140486-run
  /social-post-ideas/switch-chat-mode:
    post:
      summary: Switch chat mode
      deprecated: false
      description: Switches the generation mode of an existing AI post-idea chat session.
      operationId: switchChatMode
      tags:
      - Social Post Ideas
      parameters:
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SwitchChatModeRequest'
            example:
              sessionId: 7f3c1a2e-...
              mode: thorough
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      switchChatMode:
                        $ref: '#/components/schemas/ChatSessionResponse'
                    x-apidog-orders:
                    - switchChatMode
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Social Post Ideas
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40140796-run
  /social-post-ideas/trigger-pipeline:
    post:
      summary: Trigger pipeline
      deprecated: false
      description: Triggers the full social post-idea generation pipeline for a brand. Returns a pipeline ID; supply brand context (profile name, site URL, categories, hashtags, intent, content language) to steer generation.
      operationId: triggerPipeline
      tags:
      - Social Post Ideas
      parameters:
      - name: Synup-Version
[...]
