openapi: 3.0.1
info:
  title: Synup API
  version: '4'
  description: 'REST API v4 for the Synup local marketing platform: business locations, listing syndication
    to 80+ directories, review/interaction aggregation and response, review campaigns, local rank tracking
    and grid-rank heatmaps, local and social posts, AI post ideas, menus, connected accounts, users and
    profile analytics.


    ASSEMBLED BY API EVANGELIST from the per-endpoint OpenAPI documents Synup publishes on its own documentation
    host (developer.synup.com, Apidog project 797384). Every operation, parameter, response, example and
    schema below is verbatim provider content; only the merge into a single document is ours. Source index:
    https://developer.synup.com/llms.txt'
  contact:
    name: Synup Developer Documentation
    url: https://developer.synup.com/
  x-assembled-by: api-evangelist enrichment pipeline (local-v1)
  x-assembled-from: 506 per-endpoint OpenAPI fragments published at https://developer.synup.com/<slug>.md
  x-assembled-date: '2026-08-13'
servers:
- url: https://api.synup.com/api/v4
  description: Base ENV (as published in every Synup doc fragment). Tenant workspace domains (https://<workspace>.synup.com/api/v4)
    also serve the same API.
paths:
  /locations/activate:
    post:
      summary: Activate archived locations
      deprecated: false
      description: "<span style=\"font-size: 14px;\">\nUse this API to reactivate one or more previously\
        \ archived locations, allowing them to be updated and managed again.\n    \n\n:::info[]\nImportant\
        \ Notes:\n- <span style=\"font-size: 14px;\">Activating a location restores its functionality,\
        \ enabling updates and modifications.</span>\n- <span style=\"font-size: 14px;\">Only archived\
        \ locations can be activated; active locations do not require this action.</span>\n- <span style=\"\
        font-size: 14px;\">Reactivating a location may resume billing based on your subscription plan.</span>\n\
        :::\n</span>"
      operationId: activateLocations
      tags:
      - Locations
      - Locations
      parameters:
      - name: Authorization
        in: header
        description: API key for authentication
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      - name: Content-Type
        in: header
        description: ''
        required: true
        example: application/json
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  type: object
                  required:
                  - locationIds
                  properties:
                    locationIds:
                      type: array
                      description: Array of location Node IDs to activate
                      items:
                        type: string
                  x-apidog-orders:
                  - locationIds
              x-apidog-orders:
              - input
            example:
              input:
                locationIds:
                - TG9jYXRpb246MTE3MTM4OQ==
      responses:
        '200':
          description: Locations activated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      activateLocations:
                        type: object
                        properties:
                          bulkEditTaskId:
                            type: string
                            description: ID of bulk edit task if multiple locations are being activated
                            nullable: true
                          clientMutationId:
                            type: string
                            nullable: true
                          errors:
                            type: array
                            items:
                              type: string
                            nullable: true
                          result:
                            type: array
                            items:
                              type: object
                              properties:
                                errors:
                                  type: array
                                  items:
                                    type: string
                                  nullable: true
                                locationId:
                                  type: string
                                  description: Node ID of the location
                                status:
                                  type: string
                                  enum:
                                  - ACTIVE
                                  description: Final status of the activation operation
                                success:
                                  type: boolean
                                  description: Whether the operation was successful
                              x-apidog-orders:
                              - errors
                              - locationId
                              - status
                              - success
                          success:
                            type: boolean
                            nullable: true
                        x-apidog-orders:
                        - bulkEditTaskId
                        - clientMutationId
                        - errors
                        - result
                        - success
                    x-apidog-orders:
                    - activateLocations
                x-apidog-orders:
                - data
              example:
                data:
                  activateLocations:
                    bulkEditTaskId: null
                    clientMutationId: null
                    errors: null
                    result:
                    - errors: null
                      locationId: TG9jYXRpb246MTE3MTM4OQ==
                      status: ACTIVE
                      success: true
                    success: null
          headers: {}
          x-apidog-name: OK
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
          headers: {}
          x-apidog-name: Bad Request
        '401':
          description: Unauthorized - invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
          headers: {}
          x-apidog-name: Unauthorized
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                      examples:
                      - Insufficient permissions to activate locations
                x-apidog-orders:
                - errors
          headers: {}
          x-apidog-name: Forbidden
      security: []
      x-apidog-folder: Locations
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-13659836-run
  /social-post-ideas/active-chat-session:
    get:
      summary: Active chat session
      deprecated: false
      description: '<span style="font-size: 14px;">

        Returns the currently active AI post-idea chat session for a brand (social profile), if one exists.
        Set `excludeSeries` to skip sessions that belong to a content series.

        </span>'
      operationId: activeChatSession
      tags:
      - Social Post Ideas
      - Social Post Ideas
      parameters:
      - name: socialProfileId
        in: query
        description: Social profile ID.
        required: true
        example: 6f1c2a90-...
        schema:
          type: string
      - name: excludeSeries
        in: query
        description: Exclude sessions that belong to a content series.
        required: false
        example: ''
        schema:
          type: boolean
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      activeChatSession:
                        $ref: '#/components/schemas/ChatSession'
                    x-apidog-orders:
                    - activeChatSession
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Social Post Ideas
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40055529-run
  /menus/{menuId}/items:
    post:
      summary: Add an item to an existing section
      deprecated: false
      description: ''
      tags:
      - Menus
      parameters:
      - name: menuId
        in: path
        description: ''
        required: true
        example: ''
        schema:
          type: string
      - name: Content-Type
        in: header
        description: ''
        required: true
        example: application/json
        schema:
          type: string
      - name: Authorization
        in: header
        description: ''
        required: true
        example: API VGLYvxxxxxxxxxxxxxxxxxxxxx
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  type: object
                  properties:
                    sectionId:
                      type: string
                    offeringsItem:
                      type: object
                      properties:
                        displayName:
                          type: string
                        description:
                          type: string
                        price:
                          type: string
                      required:
                      - displayName
                      - description
                      - price
                  required:
                  - sectionId
                  - offeringsItem
              required:
              - input
            example:
              input:
                sectionId: '{sectionId}'
                offeringsItem:
                  displayName: Caprese
                  description: Tomato, mozzarella, and basil
                  price: '12.00'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties: {}
          headers: {}
          x-apidog-name: Success
      security: []
      x-apidog-folder: Menus
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-33169805-run
  /locations/review-campaigns/customers:
    post:
      summary: Add customers to a review campaign
      deprecated: false
      description: '<span style="font-size: 14px;">

        This API adds new customers to an existing review campaign, allowing them to receive review requests.


        **Behavior:**

        - Supports batch addition of multiple customers in a single request.

        - Customers will receive review requests via the configured delivery method (email, SMS, or both).

        - Ensures duplicate entries are not added to the same campaign.

        </span>'
      operationId: addCustomersToReviewCampaign
      tags:
      - Review Campaigns
      parameters:
      - name: Authorization
        in: header
        description: API key for authentication
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCustomersRequest'
            example: ''
      responses:
        '200':
          description: Successfully added customers
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: OK
      security: []
      x-apidog-folder: Review Campaigns
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-14003757-run
  /locations/reviews/settings/edit:
    get:
      summary: Add / Edit interaction source
      deprecated: false
      description: '<span style="font-size: 14px;">

        Use this endpoint to add a new interaction source URL.

        The body of the request must contain the locationId and a siteUrls array.



        <TipInfo>Interaction sources for connected Google and Facebook accounts cannot be modified/added
        to. These interaction sources are automatically added when you connect your Google and Facebook
        accounts.</TipInfo>




        </span>'
      tags:
      - Reviews/Review Sources
      parameters:
      - name: Authorization
        in: header
        description: API key for authentication
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                locationId:
                  type: string
                siteUrls:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      url:
                        type: string
                    x-apidog-orders:
                    - name
                    - url
              required:
              - locationId
              - siteUrls
              x-apidog-orders:
              - locationId
              - siteUrls
            example:
              locationId: TG9jYXRpb246MTY4MDU=
              siteUrls:
              - name: trulia.com
                url: test.com
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      editInteractionsSetting:
                        type: object
                        properties:
                          errors:
                            type: 'null'
                          interactionSetting:
                            type: object
                            properties:
                              positiveInteractionThreshold:
                                type: integer
                              siteSettings:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                    url:
                                      type: string
                                      nullable: true
                                    connected:
                                      type: boolean
                                  required:
                                  - name
                                  - url
                                  - connected
                                  x-apidog-orders:
                                  - name
                                  - url
                                  - connected
                              id:
                                type: string
                            required:
                            - positiveInteractionThreshold
                            - siteSettings
                            - id
                            x-apidog-orders:
                            - positiveInteractionThreshold
                            - siteSettings
                            - id
                        required:
                        - errors
                        - interactionSetting
                        x-apidog-orders:
                        - errors
                        - interactionSetting
                      interactionSiteConfig:
                        type: array
                        items:
                          type: object
                          properties:
                            site:
                              type: string
                            siteUrl:
                              type: string
                          required:
                          - site
                          - siteUrl
                          x-apidog-orders:
                          - site
                          - siteUrl
                      interactionsSetting:
                        type: object
                        properties:
                          siteSettings:
                            type: array
                            items:
                              type: object
                              properties:
                                name:
                                  type: string
                                url:
                                  type: string
                                  nullable: true
                              required:
                              - name
                              - url
                              x-apidog-orders:
                              - name
                              - url
                        required:
                        - siteSettings
                        x-apidog-orders:
                        - siteSettings
                    required:
                    - editInteractionsSetting
                    - interactionSiteConfig
                    - interactionsSetting
                    x-apidog-orders:
                    - editInteractionsSetting
                    - interactionSiteConfig
                    - interactionsSetting
                required:
                - data
                x-apidog-orders:
                - data
              example:
                data:
                  editInteractionsSetting:
                    errors: null
                    interactionSetting:
                      positiveInteractionThreshold: 2
                      siteSettings:
                      - name: trulia.com
                        url: test.com
                        connected: false
                      - name: google.com
                        url: test.com
                        connected: false
                      - name: foursquare.com
                        url: test.com
                        connected: false
                      - name: yelp.com
                        url: https://www.yelp.com/biz/yelp-san-francisco?sort_by=date_desc
                        connected: false
                      - name: facebook.com
                        url: https://www.facebook.com/Om-book-shop-613976075648984/
                        connected: true
                      - name: maps.google.com
                        url: https://maps.google.com/maps?cid=11886702604501862703
                        connected: true
                      - name: zillow.com
                        url: null
                        connected: false
                      - name: realtor.com
                        url: null
                        connected: false
                      - name: reach150.com
                        url: null
                        connected: false
                      - name: yelloyello.com
                        url: https://www.yelloyello.com/places/tryvexan-review-new-york
                        connected: false
                      id: 743c8f7e-cc47-42ff-a640-3c4d072dcb86
          headers: {}
          x-apidog-name: Success
      security: []
      x-apidog-folder: Reviews/Review Sources
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-19357403-run
  /users/folders/add:
    post:
      summary: Add folders to user
      deprecated: false
      description: "<span style=\"font-size: 14px;\">\n    \n    This API associates one or more folders\
        \ with a specified user, granting them access to manage those folders.\n\n**Behavior:**\n- Supports\
        \ assigning multiple folders to a single user.\n- Updates the user's permissions based on assigned\
        \ folders.\n</span>"
      tags:
      - User Management
      - User Management
      parameters:
      - name: Authorization
        in: header
        description: API key for authentication
        required: false
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  type: object
                  required:
                  - userId
                  - folderIds
                  - defaultFolderId
                  properties:
                    userId:
                      type: string
                      description: Base64 encoded user ID
                    folderIds:
                      type: array
                      items:
                        type: string
                        format: uuid
                      description: Array of folder UUIDs to associate with the user
                    defaultFolderId:
                      type: string
                  x-apidog-orders:
                  - userId
                  - folderIds
                  - defaultFolderId
              x-apidog-orders:
              - input
            example:
              input:
                userId: VXNlcjoxMDAyOA==
                folderIds:
                - c1d92c09-8ddd-469e-af96-0eb64a48d647
                - a5af4f5d-41b6-4a8a-b24f-98741b021b7b
                defaultFolderId: c1d92c09-8ddd-469e-af96-0eb64a48d647
      responses:
        '200':
          description: Successfully added folders to user
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      addFoldersForUser:
                        type: object
                        properties:
                          status:
                            type: array
                            items:
                              type: object
                              properties:
                                errors:
                                  type: array
                                  items:
                                    type: string
                                  nullable: true
                                folderId:
                                  type: string
                                  format: uuid
                                success:
                                  type: boolean
                              x-apidog-orders:
                              - errors
                              - folderId
                              - success
                        x-apidog-orders:
                        - status
                    x-apidog-orders:
                    - addFoldersForUser
                x-apidog-orders:
                - data
          headers: {}
          x-apidog-name: OK
      security: []
      x-apidog-folder: User Management
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-13994432-run
  /locations/keywords:
    post:
      summary: Add keywords
      deprecated: false
      description: '<span style="font-size: 14px;">

        This API allows you to add keywords that you want to track, for a specific location.



        </span>


        :::caution[]

        <span style="font-size: 14px;"> **Limitations:** The number of keywords that can be added for
        a location is subject to your subscription plan. Please consult the support team to determine
        the exact number applicable to your account.</span>

        :::'
      tags:
      - Rankings
      parameters:
      - name: Authorization
        in: header
        description: API key for authentication. Must be prefixed with 'API '
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      - name: Content-Type
        in: header
        description: ''
        required: true
        example: application/json
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                locationId:
                  type: string
                inputKeywords:
                  type: array
                  items:
                    type: string
              required:
              - locationId
              - inputKeywords
              x-apidog-orders:
              - locationId
              - inputKeywords
            example:
              locationId: TG9jYXRpb246MTM5OTg=
              inputKeywords:
              - road paving
              - road building
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      addKeywords:
                        type: object
                        properties:
                          keywords:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                primary:
                                  type: 'null'
                                archived:
                                  type: boolean
                                archiveReasonId:
                                  type: 'null'
                                databaseId:
                                  type: integer
                                name:
                                  type: string
                              required:
                              - id
                              - primary
                              - archived
                              - archiveReasonId
                              - databaseId
                              - name
                              x-apidog-orders:
                              - id
                              - primary
                              - archived
                              - archiveReasonId
                              - databaseId
                              - name
                          errors:
                            type: 'null'
                        required:
                        - keywords
                        - errors
                        x-apidog-orders:
                        - keywords
                        - errors
                    required:
                    - addKeywords
                    x-apidog-orders:
                    - addKeywords
                required:
                - data
                x-apidog-orders:
                - data
              examples:
                '1':
                  summary: Success
                  value:
                    data:
                      addKeywords:
                        keywords:
                        - id: S2V5d29yZDoxOTM2Nzk1
                          primary: null
                          archived: false
                          archiveReasonId: null
                          databaseId: 1936795
                          name: road paving
                        - id: S2V5d29yZDoxOTM2Nzk2
                          primary: null
                          archived: false
                          archiveReasonId: null
                          databaseId: 1936796
                          name: road building
                        errors: null
                '2':
                  summary: If keyword already exists
                  value:
                    data:
                      addKeywords:
                        keywords: null
                        errors:
                        - message: Keyword with name road paving already exists
                          contextInfo:
                          - key: keyword
                            value: road paving
                          code: SY20106
          headers: {}
          x-apidog-name: Success
      security: []
      x-apidog-folder: Rankings
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-13687734-run
  /locations/tags:
    post:
      summary: Add location to a tag
      deprecated: false
      description: '

        <span style="font-size: 14px;">

        This API associates a location with a specified tag. If the tag does not exist, it will be automatically
        created before the association.


        **Behavior:**

        - Can be used to create new tags and assign existing tags to locations.

        - Each location can have a maximum of 10 tags. Exceeding this limit will result in an error.


        </span>





        '
      operationId: addLocationToTag
      tags:
      - Organizing locations
      - Tags
      - Locations
      parameters:
      - name: Authorization
        in: header
        description: API key for authentication
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - input
              properties:
                input:
                  type: object
                  required:
                  - locationId
                  - tag
                  properties:
                    locationId:
                      type: string
                      description: Unique identifier of the location
                      examples:
                      - TG9jYXRpb246MTY4NjA=
                    tag:
                      type: string
                      description: Name of the tag to add the location to
                      examples:
                      - New
                  x-apidog-orders:
                  - locationId
                  - tag
              x-apidog-orders:
              - input
            example: ''
      responses:
        '200':
          description: Operation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      addTag:
                        type: object
                        properties:
                          clientMutationId:
                            type: null
                            description: Optional client-provided mutation identifier
                          errors:
                            type: array
                            description: Array of errors if any occurred
                            items:
                              type: object
                              properties:
                                code:
                                  type: string
                                  description: Error code
                                  examples:
                                  - SY10040
                                message:
                                  type: string
                                  description: Human-readable error message
                                contextInfo:
                                  type: array
                                  description: Additional context about the error
                                  items:
                                    type: string
                              x-apidog-orders:
                              - code
                              - message
                              - contextInfo
                          success:
                            type: boolean
                            description: Indicates if the operation was successful
                          tag:
                            type: object
                            description: Details of the created/existing tag
                            properties:
                              id:
                                type: string
                                format: uuid
                                description: Unique identifier of the tag
                              name:
                                type: string
                                description: Name of the tag
                            x-apidog-orders:
                            - id
                            - name
                            nullable: true
                        x-apidog-orders:
                        - clientMutationId
                        - errors
                        - success
                        - tag
                    x-apidog-orders:
                    - addTag
                x-apidog-orders:
                - data
              examples:
                '1':
                  summary: success
                  value:
                    data:
                      addTag:
                        clientMutationId: null
                        errors: []
                        success: true
                        tag:
                          id: 463621f0-df7c-4d5b-8b6b-8b7a23686dcf
                          name: new10
                '2':
                  summary: tagLimitError
                  value:
                    data:
                      addTag:
                        clientMutationId: null
                        errors:
                        - code: SY10040
                          contextInfo: []
                          message: Cannot add more than 10 tags
                        success: false
                        tag: null
          headers: {}
          x-apidog-name: OK
        '400':
          description: Bad request - Invalid location ID or tag name
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
          headers: {}
          x-apidog-name: Bad Request
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
          headers: {}
          x-apidog-name: Unauthorized
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
          headers: {}
          x-apidog-name: Forbidden
        '404':
          description: Location not found
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
          headers: {}
          x-apidog-name: Record Not Found
      security: []
      x-apidog-folder: Organizing locations
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-13660400-run
  /locations/folders:
    post:
      summary: Add locations to a folder
      deprecated: false
      description: '<span style="font-size: 14px;">


        This API adds specified locations to a folder. If the folder does not exist, it will be created
        automatically.


        Behavior:

        - If `locationIds` are provided, the locations will be added to the folder.

        - If ` locationIds` is omitted or empty, only the folder will be created.


        </span>'
      tags:
      - Organizing locations
      parameters:
      - name: Authorization
        in: header
        description: API key for authentication
        required: false
        example: T9V35W3xxxxxxxxxxx
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  type: object
                  required:
                  - name
                  properties:
                    name:
                      type: string
                      description: Name of the folder to add locations to
                      examples:
                      - Acme
                    locationIds:
                      type: array
                      description: Array of location IDs to add to the folder
                      items:
                        type: string
                      examples:
                      - - TG9jYXRpb246MTY4NjE=
                        - TG9jYXRpb246MTY4NjA=
                  x-apidog-orders:
                  - name
                  - locationIds
              x-apidog-orders:
              - input
            example: ''
      responses:
        '200':
          description: Successfully added locations to folder
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      addLocationsToFolder:
                        type: object
                        properties:
                          errors:
                            type: null
                            description: Array of errors if any occurred
                          folder:
                            type: object
                            properties:
                              accountId:
                                type: integer
                                examples:
                                - 10072
                              archived:
                                type: boolean
                                examples:
                                - false
                              id:
                                type: string
                                examples:
                                - 0e4cc56e-45f8-4058-a713-ead264fa9318
                              name:
                                type: string
                                examples:
                                - acme
                              root:
                                type: boolean
                                examples:
                                - false
                            x-apidog-orders:
                            - accountId
                            - archived
                            - id
                            - name
                            - root
                        x-apidog-orders:
                        - errors
                        - folder
                    x-apidog-orders:
                    - addLocationsToFolder
                x-apidog-orders:
                - data
          headers: {}
          x-apidog-name: OK
      security: []
      x-apidog-folder: Organizing locations
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-13660182-run
  /users/locations/add:
    post:
      summary: Add Locations to User
      deprecated: false
      description: '<span style="font-size: 14px;">

        This API associates specific locations with a user, granting them access to manage those locations.


        **Behavior:**

        - Supports assigning multiple locations to a single user.

        - Updates the user''s permissions and access scope based on assigned locations.

        </span>'
      operationId: addLocationsToUser
      tags:
      - User Management
      - Users
      - Locations
      parameters:
      - name: Authorization
        in: header
        description: API key for authentication
        required: false
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - input
              properties:
                input:
                  $ref: '#/components/schemas/AddLocationsInput'
              x-apidog-orders:
              - input
              x-apidog-ignore-properties: []
            example:
              input:
                userId: VXNlcjoxMjMyMDE=
                locationIds:
                - TG9jYXRpb246MTE3NjE5NQ==
                - TG9jYXRpb246MTE0NzgxNA==
      responses:
        '200':
          description: Locations successfully added to user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddLocationsResponse'
              example:
                data:
                  addLocationsForUser:
                    status:
                    - errors: null
                      locationId: TG9jYXRpb246MTE3NjE5NQ==
                      success: true
                    - errors: null
                      locationId: TG9jYXRpb246MTE0NzgxNA==
                      success: true
          headers: {}
          x-apidog-name: OK
        '400':
          description: Bad Request - Invalid input parameters
          headers: {}
          x-apidog-name: Bad Request
        '401':
          description: Unauthorized - Valid API key required
          headers: {}
          x-apidog-name: Unauthorized
        '403':
          description: Forbidden - Insufficient permissions
          headers: {}
          x-apidog-name: Forbidden
        '404':
          description: Not Found - User or locations not found
          headers: {}
          x-apidog-name: Record Not Found
      security: []
      x-apidog-folder: User Management
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-13932855-run
  /review_widget/add:
    post:
      summary: Add Review Widget
      deprecated: false
      description: ''
      tags:
      - Reviews
      - Interactions
      parameters:
      - name: Authorization
        in: header
        description: ''
        required: true
        example: API nQWIQkSj_nLpgzeSXtSjNVCxhVU
        schema:
          type: string
      - name: Content-Type
        in: header
        description: ''
        required: true
        example: application/json
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                locationId:
                  type: string
                minimumRating:
                  type: integer
                name:
                  type: string
                readOnly:
                  type: boolean
                reviewCount:
                  type: integer
                sites:
                  type: array
                  items:
                    type: string
                widgetHeight:
                  type: string
                widgetType:
                  type: string
                widgetWidth:
                  type: string
              required:
              - locationId
              - minimumRating
              - name
              - readOnly
              - reviewCount
              - sites
              - widgetHeight
              - widgetType
              - widgetWidth
            example:
              locationId: TG9jYXRpb246NzAzNTY1
              minimumRating: 5
              name: 'testing functionality2 '
              readOnly: false
              reviewCount: 10
              sites:
              - maps.google.com
              - facebook.com
              - yelp.com
              widgetHeight: 470px
              widgetType: medium_slider
              widgetWidth: 100%
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      addReviewWidget:
                        type: object
                        properties:
                          widget:
                            type: 'null'
                          errors:
                            type: array
                            items:
                              type: object
                              properties:
                                contextInfo:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      key:
                                        type: string
                                      value:
                                        type: string
                                code:
                                  type: string
                                message:
                                  type: string
                        required:
                        - widget
                        - errors
                    required:
                    - addReviewWidget
                required:
                - data
              example:
                data:
                  addReviewWidget:
                    widget: null
                    errors:
                    - contextInfo:
                      - key: name
                        value: 'testing functionality2 '
                      code: SY50101
                      message: Widget name testing functionality2  already used
          headers: {}
          x-apidog-name: Success
      security: []
      x-apidog-folder: Reviews
      x-apidog-status: developing
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-20127692-run
  /users/add_user_and_folder:
    post:
      summary: Add User and folder
      deprecated: false
      description: "<span style=\"font-size: 14px;\">\n    \nThis api is a combination of add_user and\
        \ create_folder and assign_folder_to_user APIs. The API will take in all parameters of add_user\
        \ API and create_folder APIs. Operations to be done are create user, create folder and assign\
        \ folder to user.\n\n</span>"
      tags:
      - User Management
      - User Management
      parameters:
      - name: Authorization
        in: header
        description: API key for authentication
        required: false
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  type: object
                  properties:
                    roleId:
                      type: string
                    firstName:
                      type: string
                    lastName:
                      type: string
                    email:
                      type: string
                    directCustomer:
                      type: boolean
                    locale:
                      type: string
                    locationIds:
                      type: array
                      items:
                        type: string
                    socialProfileIds:
                      type: array
                      items:
                        type: string
                    name:
                      type: string
                    userId:
                      type: string
                      description: Base64 encoded user ID
                    isDefaultFolder:
                      type: boolean
                  required:
                  - roleId
                  - firstName
                  - lastName
                  - email
                  - directCustomer
                  - locale
                  - locationIds
                  - socialProfileIds
                  - name
                  - userId
                  - isDefaultFolder
                  x-apidog-orders:
                  - roleId
                  - firstName
                  - lastName
                  - email
                  - directCustomer
                  - locale
                  - locationIds
                  - socialProfileIds
                  - name
                  - userId
                  - isDefaultFolder
              required:
              - input
              x-apidog-orders:
              - input
            example:
              input:
                roleId: Q3VzdG9tUm9sZToyMDgzMQ==
                firstName: 'testing '
                lastName: user
                email: sandeep.kota+918673997@synup.com
                directCustomer: true
                locale: ENGLISH
                locationIds:
                - TG9jYXRpb246ODcxMjE=
                socialProfileIds: []
                name: sandybroskis19
                isDefaultFolder: true
      responses:
        '200':
          description: Successfully added folders to user
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      addUserAndFolder:
                        type: object
                        properties:
                          success:
                            type: boolean
                          assignFolder:
                            type: boolean
                          user:
                            type: object
                            properties:
                              firstName:
                                type: string
                              lastName:
                                type: string
                              email:
                                type: string
                              directCustomer:
                                type: boolean
                              databaseId:
                                type: integer
                            required:
                            - firstName
                            - lastName
                            - email
                            - directCustomer
                            - databaseId
                            x-apidog-orders:
                            - firstName
                            - lastName
                            - email
                            - directCustomer
                            - databaseId
                          folder:
                            type: object
                            properties:
                              id:
                                type: string
                              name:
                                type: string
                              locationCount:
                                type: 'null'
                            required:
                            - id
                            - name
                            - locationCount
                            x-apidog-orders:
                            - id
                            - name
                            - locationCount
                          errors:
                            type: array
                            items:
                              type: string
                        required:
                        - success
                        - assignFolder
                        - user
                        - folder
                        - errors
                        x-apidog-orders:
                        - success
                        - assignFolder
                        - user
                        - folder
                        - errors
                      addFoldersForUser:
                        type: object
                        properties:
                          status:
                            type: array
                            items:
                              type: object
                              properties:
                                errors:
                                  type: array
                                  items:
                                    type: string
                                  nullable: true
                                folderId:
                                  type: string
                                  format: uuid
                                success:
                                  type: boolean
                              x-apidog-orders:
                              - errors
                              - folderId
                              - success
                        x-apidog-orders:
                        - status
                    required:
                    - addUserAndFolder
                    x-apidog-orders:
                    - addUserAndFolder
                    - addFoldersForUser
                required:
                - data
                x-apidog-orders:
                - data
          headers: {}
          x-apidog-name: OK
      security: []
      x-apidog-folder: User Management
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-19358677-run
  /local-post-ideas/analyze-reference-image:
    get:
      summary: Analyze reference image
      deprecated: false
      description: '<span style="font-size: 14px;">

        Analyzes a reference image at the given URL and returns a textual description that can be used
        to ground post-idea generation. Optionally pass a `category` hint to focus the analysis.

        </span>'
      operationId: analyzeReferenceImage
      tags:
      - Local Post Ideas
      - Local Post Ideas
      parameters:
      - name: imageUrl
        in: query
        description: URL of the image to analyze.
        required: true
        example: https://cdn.example.com/photo.jpg
        schema:
          type: string
      - name: category
        in: query
        description: Optional category hint to focus the analysis.
        required: false
        example: ''
        schema:
          type: string
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      analyzeReferenceImage:
                        $ref: '#/components/schemas/ReferenceImageAnalysis'
                    x-apidog-orders:
                    - analyzeReferenceImage
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Local Post Ideas
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40052170-run
  /social-post-ideas/analyze-reference-image:
    get:
      summary: Analyze reference image
      deprecated: false
      description: '<span style="font-size: 14px;">

        Analyzes a reference image at the given URL and returns a textual description that can be used
        to ground social post-idea generation. Optionally pass a `category` hint to focus the analysis.

        </span>'
      operationId: analyzeReferenceImage
      tags:
      - Social Post Ideas
      - Social Post Ideas
      parameters:
      - name: imageUrl
        in: query
        description: URL of the image to analyze.
        required: true
        example: https://cdn.example.com/photo.jpg
        schema:
          type: string
      - name: category
        in: query
        description: Optional category hint to focus the analysis.
        required: false
        example: ''
        schema:
          type: string
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      analyzeReferenceImage:
                        $ref: '#/components/schemas/ReferenceImageAnalysis'
                    x-apidog-orders:
                    - analyzeReferenceImage
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Social Post Ideas
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40055530-run
  /connected-accounts/apple-confirmed-matches:
    get:
      summary: Apple confirmed matches
      deprecated: false
      description: '<span style="font-size: 14px;">

        Returns the confirmed matches between Synup locations and Apple Business listings for a connected
        Apple account. These are produced after a location has been connected via the Apple Business Connect
        OAuth flow (see Connect link for Apple). Results are paginated.

        </span>'
      operationId: appleConfirmedMatches
      tags:
      - Connected Accounts
      - Connected Accounts
      parameters:
      - name: accountId
        in: query
        description: Account ID.
        required: true
        example: QWNjb3VudDoxMjM=
        schema:
          type: string
      - name: connectedAccountId
        in: query
        description: ID of the connected Apple account.
        required: true
        example: Q29ubmVjdGVkQWNjb3VudDo0NTY=
        schema:
          type: string
      - name: page
        in: query
        description: Page number (1-based).
        required: true
        example: 1
        schema:
          type: integer
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      appleConfirmedMatches:
                        $ref: '#/components/schemas/AppleConfirmedMatches'
                    x-apidog-orders:
                    - appleConfirmedMatches
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Connected Accounts
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40050924-run
  /locations/keywords/archive:
    post:
      summary: Archive a keyword
      deprecated: false
      description: '<span style="font-size: 14px;">

        This API removes a keyword from the list of tracked keywords for a specific location by archiving
        it.

        </span>'
      tags:
      - Rankings
      parameters:
      - name: Authorization
        in: header
        description: API key for authentication
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - id
              properties:
                id:
                  type: string
                  description: Keyword ID to archive
                  examples:
                  - S2V5d29yZDo3NjQzMTE=
              x-apidog-orders:
              - id
              x-apidog-ignore-properties: []
            example: ''
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      archiveKeyword:
                        type: object
                        properties:
                          keyword:
                            type: object
                            properties:
                              id:
                                type: string
                                description: The unique ID attached to the keyword
                                examples:
                                - S2V5d29yZDo3NjQzMTE=
                              archived:
                                type: boolean
                                description: Indicates if the keyword has been archived
                                examples:
                                - true
                              name:
                                type: string
                                description: The text value of the keyword
                                examples:
                                - road building
                            x-apidog-orders:
                            - id
                            - archived
                            - name
                            x-apidog-ignore-properties: []
                        x-apidog-orders:
                        - keyword
                        x-apidog-ignore-properties: []
                    x-apidog-orders:
                    - archiveKeyword
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
          headers: {}
          x-apidog-name: Bad Request
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          headers: {}
          x-apidog-name: Unauthorized
      security: []
      x-apidog-folder: Rankings
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-13695580-run
  /social-post-ideas/archive-idea:
    post:
      summary: Archive idea
      deprecated: false
      description: '<span style="font-size: 14px;">

        Archives a social post idea so it no longer appears in active idea listings.

        </span>'
      operationId: archiveIdea
      tags:
      - Social Post Ideas
      - Social Post Ideas
      parameters:
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArchiveIdeaRequest'
            example:
              ideaId: 91b2...
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      archiveIdea:
                        $ref: '#/components/schemas/MutationResponse'
                    x-apidog-orders:
                    - archiveIdea
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Social Post Ideas
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40055531-run
  /local-post-ideas/archive-idea:
    post:
      summary: Archive local idea
      deprecated: false
      description: '<span style="font-size: 14px;">

        Archives a post idea so it no longer appears in active idea listings.

        </span>'
      operationId: archiveLocalIdea
      tags:
      - Local Post Ideas
      - Local Post Ideas
      parameters:
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArchiveLocalIdeaRequest'
            example:
              ideaId: 91b2...
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      archiveLocalIdea:
                        $ref: '#/components/schemas/LocalMutationResponse'
                    x-apidog-orders:
                    - archiveLocalIdea
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Local Post Ideas
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40052176-run
  /local-post-ideas/archive-series:
    post:
      summary: Archive local series
      deprecated: false
      description: '<span style="font-size: 14px;">

        Archives a content series so it no longer appears in active series listings.

        </span>'
      operationId: archiveLocalSeries
      tags:
      - Local Post Ideas
      - Local Post Ideas
      parameters:
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArchiveLocalSeriesRequest'
            example:
              seriesId: 3a1f...
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      archiveLocalSeries:
                        $ref: '#/components/schemas/LocalMutationResponse'
                    x-apidog-orders:
                    - archiveLocalSeries
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Local Post Ideas
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40052177-run
  /locations/archive:
    post:
      summary: Archive multiple locations
      deprecated: false
      description: "<span style=\"font-size: 14px;\">\n\nThis API allows you to archive One or More Business\
        \ Locations. \n\n:::info[]\n- <span style=\"font-size: 14px;\">Archiving a location does not delete\
        \ it from your account.</span>\n- <span style=\"font-size: 14px;\">Archived locations cannot be\
        \ updated until reactivated.</span>\n- <span style=\"font-size: 14px;\">The location will be scheduled\
        \ for archival until the end of the billing cycle.</span>\n- <span style=\"font-size: 14px;\"\
        >Once the invoice for the next month is generated, the location will be archived.</span>\n- <span\
        \ style=\"font-size: 14px;\">Payments for archived locations stop after the current billing cycle\
        \ is completed.</span>\n\n:::\n\n</span>"
      operationId: archiveLocations
      tags:
      - Locations
      - Locations
      parameters:
      - name: Authorization
        in: header
        description: API key for authentication
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  type: object
                  required:
                  - locationIds
                  properties:
                    locationIds:
                      type: array
                      description: Array of location Node IDs to archive
                      items:
                        type: string
                  x-apidog-orders:
                  - locationIds
              x-apidog-orders:
              - input
            example:
              input:
                locationIds:
                - TG9jYXRpb246MTE4MzMzMA==
                - TG9jYXRpb246MTE3MTM4OQ==
      responses:
        '200':
          description: Locations archived successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      archiveLocations:
                        type: object
                        properties:
                          bulkEditTaskId:
                            type: string
                            nullable: true
                          clientMutationId:
                            type: string
                            nullable: true
                          errors:
                            type: array
                            items:
                              type: string
                            nullable: true
                          result:
                            type: array
                            items:
                              type: object
                              properties:
                                errors:
                                  type: array
                                  items:
                                    type: string
                                  nullable: true
                                locationId:
                                  type: string
                                  description: Node ID of the location
                                status:
                                  type: string
                                  enum:
                                  - ARCHIVED
                                  - ARCHIVE_SCHEDULED
                                  description: Final status of the archive operation
                                success:
                                  type: boolean
                                  description: Whether the operation was successful
                              x-apidog-orders:
                              - errors
                              - locationId
                              - status
                              - success
                          success:
                            type: boolean
                            nullable: true
                        x-apidog-orders:
                        - bulkEditTaskId
                        - clientMutationId
                        - errors
                        - result
                        - success
                    x-apidog-orders:
                    - archiveLocations
                x-apidog-orders:
                - data
              example:
                data:
                  archiveLocations:
                    bulkEditTaskId: null
                    clientMutationId: null
                    errors: null
                    result:
                    - errors: null
                      locationId: TG9jYXRpb246MTE3MTM4OQ==
                      status: ARCHIVE_SCHEDULED
                      success: true
                    - errors: null
                      locationId: TG9jYXRpb246MTE4MzMzMA==
                      status: ARCHIVE_SCHEDULED
                      success: true
                    success: null
          headers: {}
          x-apidog-name: OK
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
          headers: {}
          x-apidog-name: Bad Request
        '401':
          description: Unauthorized - invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
          headers: {}
          x-apidog-name: Unauthorized
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
          headers: {}
          x-apidog-name: Forbidden
      security: []
      x-apidog-folder: Locations
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-13659698-run
  /locations/reviews/respond/archive:
    post:
      summary: Archive Response for Interaction
      deprecated: false
      description: '<span style="font-size: 14px;">

        Archive any response provided for any existing Interaction

        </span>'
      operationId: respondToInteraction
      tags:
      - Reviews
      - Interactions
      parameters:
      - name: Authorization
        in: header
        description: API key for authentication
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - responseId
              properties:
                responseId:
                  type: string
                  description: "Response ID\t"
                  format: uuid
              x-apidog-orders:
              - responseId
            example:
              responseId: 2090753a-ece6-4837-8336-8494ad308523
      responses:
        '200':
          description: Response successfully posted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      archiveResponse:
                        type: object
                        properties:
                          status:
                            type: boolean
                        x-apidog-orders:
                        - status
                    x-apidog-orders:
                    - archiveResponse
                x-apidog-orders:
                - data
              example: "{\n    \"data\": {\n        \"archiveResponse\": {\n            \"status\": \"\
                true\",\n        }\n    }\n}"
          headers: {}
          x-apidog-name: OK
      security: []
      x-apidog-folder: Reviews
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-19357202-run
  /social-post-ideas/archive-series:
    post:
      summary: Archive series
      deprecated: false
      description: '<span style="font-size: 14px;">

        Archives a content series so it no longer appears in active series listings.

        </span>'
      operationId: archiveSeries
      tags:
      - Social Post Ideas
      - Social Post Ideas
      parameters:
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArchiveSeriesRequest'
            example:
              seriesId: 3a1f...
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      archiveSeries:
                        $ref: '#/components/schemas/MutationResponse'
                    x-apidog-orders:
                    - archiveSeries
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Social Post Ideas
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40055564-run
  /menus/{menuId}/assign-location:
    post:
      summary: Assign a menu to a location
      deprecated: false
      description: ''
      tags:
      - Menus
      parameters:
      - name: menuId
        in: path
        description: ''
        required: true
        example: ''
        schema:
          type: string
      - name: Content-Type
        in: header
        description: ''
        required: true
        example: application/json
        schema:
          type: string
      - name: Authorization
        in: header
        description: ''
        required: true
        example: API VGLYvxxxxxxxxxxxxxxxxxxxxx
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  type: object
                  properties:
                    locationIds:
                      type: array
                      items:
                        type: string
                  required:
                  - locationIds
              required:
              - input
            example:
              input:
                locationIds:
                - '{locationId}'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties: {}
          headers: {}
          x-apidog-name: Success
      security: []
      x-apidog-folder: Menus
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-33169811-run
  /social/brands/{brandId}:
    put:
      summary: Assign a user to a single brand
      deprecated: false
      description: ''
      tags:
      - Social
      parameters:
      - name: brandId
        in: path
        description: ''
        required: true
        example: ''
        schema:
          type: string
      - name: Content-Type
        in: header
        description: ''
        required: true
        example: application/json
        schema:
          type: string
      - name: Authorization
        in: header
        description: ''
        required: true
        example: API VGLYvxxxxxxxxxxxxxxxxxxxxx
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  type: object
                  properties:
                    userId:
                      type: string
                  required:
                  - userId
              required:
              - input
            example:
              input:
                userId: '{userId}'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties: {}
          headers: {}
          x-apidog-name: Success
      security: []
      x-apidog-folder: Social
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-33169859-run
  /api/v4/social/brands/{brandId1},{brandId2},{brandId3}:
    put:
      summary: Assign multiple brands
      deprecated: false
      description: ''
      tags:
      - Social
      parameters:
      - name: brandId1
        in: path
        description: ''
        required: true
        example: ''
        schema:
          type: string
      - name: brandId2
        in: path
        description: ''
        required: true
        example: ''
        schema:
          type: string
      - name: brandId3
        in: path
        description: ''
        required: true
        example: ''
        schema:
          type: string
      - name: Content-Type
        in: header
        description: ''
        required: true
        example: application/json
        schema:
          type: string
      - name: Authorization
        in: header
        description: ''
        required: true
        example: API VGLYvxxxxxxxxxxxxxxxxxxxxx
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  type: object
                  properties:
                    userId:
                      type: string
                  required:
                  - userId
              required:
              - input
            example:
              input:
                userId: '{userId}'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties: {}
          headers: {}
          x-apidog-name: Success
      security: []
      x-apidog-folder: Social
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-33169860-run
  /locations/advanced-search-filters:
    get:
      summary: Available advanced filter values
      deprecated: false
      description: '<br>

        <span style="font-size: 14px;">


        Returns the distinct values available for the advanced location filters across the account''s
        locations: countries, states, cities, postal (zip) codes, and custom attribute names. Use these
        values to populate the advanced filter controls before calling Filter locations.

        </span>'
      operationId: advancedSearchFilters
      tags:
      - Locations
      - Locations
      parameters:
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      advancedSearchFilters:
                        $ref: '#/components/schemas/LocationAdvancedSearchFilterType'
                    x-apidog-orders:
                    - advancedSearchFilters
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Locations
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40051636-run
  /locations/search-filters:
    get:
      summary: Available search filter values
      deprecated: false
      description: '<br>

        <span style="font-size: 14px;">


        Returns the distinct values available for the standard location filters across the account''s
        accessible locations: tags, folders, categories, additional categories, and Google Business Profile
        (GBP) categories (primary and additional). Use these values to populate the filter controls before
        calling Filter locations.

        </span>'
      operationId: searchFilters
      tags:
      - Locations
      - Locations
      parameters:
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      searchFilters:
                        $ref: '#/components/schemas/LocationSearchFilterType'
                    x-apidog-orders:
                    - searchFilters
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Locations
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40051651-run
  /social-post-ideas/branch-chat-session:
    post:
      summary: Branch chat session
      deprecated: false
      description: '<span style="font-size: 14px;">

        Creates a new chat session branched from an existing one (`parentSessionId`), anchored to a subject
        (`subjectType` required, `subjectId` optional). Use this to explore an alternative direction without
        losing the original conversation.

        </span>'
      operationId: branchChatSession
      tags:
      - Social Post Ideas
      - Social Post Ideas
      parameters:
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BranchChatSessionRequest'
            example:
              parentSessionId: 7f3c1a2e-...
              subjectType: idea
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      branchChatSession:
                        $ref: '#/components/schemas/ChatSessionResponse'
                    x-apidog-orders:
                    - branchChatSession
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Social Post Ideas
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40055575-run
  /local-post-ideas/branch-chat-session:
    post:
      summary: Branch local chat session
      deprecated: false
      description: '<span style="font-size: 14px;">

        Creates a new chat session branched from an existing one (`parentSessionId`), optionally anchored
        to a subject (`subjectType`/`subjectId`). Use this to explore an alternative direction without
        losing the original conversation.

        </span>'
      operationId: branchLocalChatSession
      tags:
      - Local Post Ideas
      - Local Post Ideas
      parameters:
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BranchLocalChatSessionRequest'
            example:
              parentSessionId: 7f3c1a2e-...
              subjectType: idea
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      branchLocalChatSession:
                        $ref: '#/components/schemas/LocalChatSessionResponse'
                    x-apidog-orders:
                    - branchLocalChatSession
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Local Post Ideas
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40052178-run
  /social-post-ideas/brand-info:
    get:
      summary: Brand info
      deprecated: false
      description: '<span style="font-size: 14px;">

        Returns the basic brand profile for a social profile — name, site URL, categories, and country
        — used to ground social post-idea generation.

        </span>'
      operationId: brandInfo
      tags:
      - Social Post Ideas
      - Social Post Ideas
      parameters:
      - name: socialProfileId
        in: query
        description: Social profile ID.
        required: true
        example: 6f1c2a90-...
        schema:
          type: string
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      brandInfo:
                        $ref: '#/components/schemas/BrandInfo'
[...]
