openapi: 3.2.0
info:
  title: Synup Posts API
  version: '4'
  description: 'REST API v4 for the Synup local marketing platform: business locations, listing syndication to 80+ directories, review/interaction aggregation and response, review campaigns, local rank tracking and grid-rank heatmaps, local and social posts, AI post ideas, menus, connected accounts, users and profile analytics.'
  contact:
    name: Synup Developer Documentation
    url: https://developer.synup.com/
  x-assembled-by: api-evangelist enrichment pipeline (local-v1)
  x-assembled-from: 506 per-endpoint OpenAPI fragments published at https://developer.synup.com/<slug>.md
  x-assembled-date: '2026-08-13'
servers:
- url: https://api.synup.com/api/v4
  description: Base ENV (as published in every Synup doc fragment). Tenant workspace domains (https://<workspace>.synup.com/api/v4) also serve the same API.
tags:
- name: Posts
paths:
  /bulk-posts:
    post:
      summary: Create a bulk post
      deprecated: false
      description: ''
      tags:
      - Posts
      parameters:
      - name: Content-Type
        in: header
        description: ''
        required: true
        example: application/json
        schema:
          type: string
      - name: Authorization
        in: header
        description: ''
        required: true
        example: API VGLYvxxxxxxxxxxxxxxxxxxxxx
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  type: object
                  properties:
                    postName:
                      type: string
                    locationIds:
                      type: array
                      items:
                        type: string
                    postType:
                      type: string
                    postSites:
                      type: array
                      items:
                        type: string
                    postMessage:
                      type: array
                      items:
                        type: object
                        properties:
                          site:
                            type: string
                          message:
                            type: string
                  required:
                  - postName
                  - locationIds
                  - postType
                  - postSites
                  - postMessage
              required:
              - input
            example:
              input:
                postName: Bulk Announcement
                locationIds:
                - '{locationId1}'
                - '{locationId2}'
                postType: ANNOUNCEMENT
                postSites:
                - GOOGLE
                postMessage:
                - site: GOOGLE
                  message: Message for all locations
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties: {}
          headers: {}
          x-apidog-name: Success
      security: []
      x-apidog-folder: Posts
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-33169612-run
      operationId: postBulkPosts
      x-operation-id-source: derived
  /posts:
    post:
      summary: Create an Announcement post
      deprecated: false
      description: ''
      tags:
      - Posts
      parameters:
      - name: Content-Type
        in: header
        description: ''
        required: true
        example: application/json
        schema:
          type: string
      - name: Authorization
        in: header
        description: ''
        required: true
        example: API Tsdfccsdfxxxxx
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  type: object
                  properties:
                    postName:
                      type: string
                    locationIds:
                      type: array
                      items:
                        type: string
                    postType:
                      type: string
                    postSites:
                      type: array
                      items:
                        type: string
                    postMessage:
                      type: array
                      items:
                        type: object
                        properties:
                          site:
                            type: string
                          message:
                            type: string
                  required:
                  - postName
                  - locationIds
                  - postType
                  - postSites
                  - postMessage
              required:
              - input
            example:
              input:
                postName: Grand Opening Announcement
                locationIds:
                - '{locationId}'
                postType: ANNOUNCEMENT
                postSites:
                - GOOGLE
                postMessage:
                - site: GOOGLE
                  message: We are now open!
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties: {}
          headers: {}
          x-apidog-name: Success
      security: []
      x-apidog-folder: Posts
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-33169275-run
      operationId: postPosts
      x-operation-id-source: derived
  /posts/{postId}:
    delete:
      summary: Delete a post
      deprecated: false
      description: ''
      tags:
      - Posts
      parameters:
      - name: postId
        in: path
        description: ''
        required: true
        example: ''
        schema:
          type: string
      - name: Authorization
        in: header
        description: ''
        required: true
        example: API VGLYvxxxxxxxxxxxxxxxxxxxxx
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties: {}
          headers: {}
          x-apidog-name: Success
      security: []
      x-apidog-folder: Posts
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-33169611-run
      operationId: deletePostsByPostId
      x-operation-id-source: derived
    get:
      summary: Get a single post
      deprecated: false
      description: ''
      tags:
      - Posts
      parameters:
      - name: postId
        in: path
        description: ''
        required: true
        example: ''
        schema:
          type: string
      - name: Authorization
        in: header
        description: ''
        required: true
        example: API VGLYvxxxxxxxxxxxxxxxxxxxxx
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties: {}
          headers: {}
          x-apidog-name: Success
      security: []
      x-apidog-folder: Posts
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-33169610-run
      operationId: getPostsByPostId
      x-operation-id-source: derived
  /bulk-posts/{bulkPostId}:
    get:
      summary: Fetch a bulk post by ID
      deprecated: false
      description: ''
      tags:
      - Posts
      parameters:
      - name: bulkPostId
        in: path
        description: ''
        required: true
        example: ''
        schema:
          type: string
      - name: Authorization
        in: header
        description: ''
        required: true
        example: API VGLYvxxxxxxxxxxxxxxxxxxxxx
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties: {}
          headers: {}
          x-apidog-name: Success
      security: []
      x-apidog-folder: Posts
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-33169732-run
      operationId: getBulkPostsByBulkPostId
      x-operation-id-source: derived
  /locations/{locationId}/bulk-posts:
    get:
      summary: Fetch bulk posts for a location
      deprecated: false
      description: ''
      tags:
      - Posts
      parameters:
      - name: locationId
        in: path
        description: ''
        required: true
        example: ''
        schema:
          type: string
      - name: page
        in: query
        description: ''
        required: true
        example: '1'
        schema:
          type: string
      - name: perPage
        in: query
        description: ''
        required: true
        example: '10'
        schema:
          type: string
      - name: tag
        in: query
        description: ''
        required: false
        example: ''
        schema:
          type: string
      - name: Authorization
        in: header
        description: ''
        required: true
        example: API VGLYvxxxxxxxxxxxxxxxxxxxxx
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties: {}
          headers: {}
          x-apidog-name: Success
      security: []
      x-apidog-folder: Posts
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-33169760-run
      operationId: getLocationsByLocationIdBulkPosts
      x-operation-id-source: derived
  /locations/{locationId}/posts:
    get:
      summary: Fetch posts for a location
      deprecated: false
      description: ''
      tags:
      - Posts
      parameters:
      - name: locationId
        in: path
        description: ''
        required: true
        example: ''
        schema:
          type: string
      - name: page
        in: query
        description: ''
        required: true
        example: '1'
        schema:
          type: string
      - name: perPage
        in: query
        description: ''
        required: true
        example: '10'
        schema:
          type: string
      - name: tag
        in: query
        description: ''
        required: false
        example: ''
        schema:
          type: string
      - name: Authorization
        in: header
        description: ''
        required: true
        example: API VGLYvxxxxxxxxxxxxxxxxxxxxx
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties: {}
          headers: {}
          x-apidog-name: Success
      security: []
      x-apidog-folder: Posts
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-33169608-run
      operationId: getLocationsByLocationIdPosts
      x-operation-id-source: derived
