openapi: 3.2.0
info:
  title: Synup Locations API
  version: '4'
  description: 'REST API v4 for the Synup local marketing platform: business locations, listing syndication to 80+ directories, review/interaction aggregation and response, review campaigns, local rank tracking and grid-rank heatmaps, local and social posts, AI post ideas, menus, connected accounts, users and profile analytics.


    ASSEMBLED BY API EVANGELIST from the per-endpoint OpenAPI documents Synup publishes on its own documentation host (developer.synup.com, Apidog project 797384). Every operation, parameter, response, example and schema below is verbatim provider content; only the merge into a single document is ours. Source index: https://developer.synup.com/llms.txt'
  contact:
    name: Synup Developer Documentation
    url: https://developer.synup.com/
  x-assembled-by: api-evangelist enrichment pipeline (local-v1)
  x-assembled-from: 506 per-endpoint OpenAPI fragments published at https://developer.synup.com/<slug>.md
  x-assembled-date: '2026-08-13'
servers:
- url: https://api.synup.com/api/v4
  description: Base ENV (as published in every Synup doc fragment). Tenant workspace domains (https://<workspace>.synup.com/api/v4) also serve the same API.
tags:
- name: Locations
paths:
  /locations/activate:
    post:
      summary: Activate archived locations
      deprecated: false
      description: "<span style=\"font-size: 14px;\">\nUse this API to reactivate one or more previously archived locations, allowing them to be updated and managed again.\n    \n\n:::info[]\nImportant Notes:\n- <span style=\"font-size: 14px;\">Activating a location restores its functionality, enabling updates and modifications.</span>\n- <span style=\"font-size: 14px;\">Only archived locations can be activated; active locations do not require this action.</span>\n- <span style=\"font-size: 14px;\">Reactivating a location may resume billing based on your subscription plan.</span>\n:::\n</span>"
      operationId: activateLocations
      tags:
      - Locations
      parameters:
      - name: Authorization
        in: header
        description: API key for authentication
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      - name: Content-Type
        in: header
        description: ''
        required: true
        example: application/json
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  type: object
                  required:
                  - locationIds
                  properties:
                    locationIds:
                      type: array
                      description: Array of location Node IDs to activate
                      items:
                        type: string
                  x-apidog-orders:
                  - locationIds
              x-apidog-orders:
              - input
            example:
              input:
                locationIds:
                - TG9jYXRpb246MTE3MTM4OQ==
      responses:
        '200':
          description: Locations activated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      activateLocations:
                        type: object
                        properties:
                          bulkEditTaskId:
                            type:
                            - string
                            - 'null'
                            description: ID of bulk edit task if multiple locations are being activated
                          clientMutationId:
                            type:
                            - string
                            - 'null'
                          errors:
                            type:
                            - array
                            - 'null'
                            items:
                              type: string
                          result:
                            type: array
                            items:
                              type: object
                              properties:
                                errors:
                                  type:
                                  - array
                                  - 'null'
                                  items:
                                    type: string
                                locationId:
                                  type: string
                                  description: Node ID of the location
                                status:
                                  type: string
                                  enum:
                                  - ACTIVE
                                  description: Final status of the activation operation
                                success:
                                  type: boolean
                                  description: Whether the operation was successful
                              x-apidog-orders:
                              - errors
                              - locationId
                              - status
                              - success
                          success:
                            type:
                            - boolean
                            - 'null'
                        x-apidog-orders:
                        - bulkEditTaskId
                        - clientMutationId
                        - errors
                        - result
                        - success
                    x-apidog-orders:
                    - activateLocations
                x-apidog-orders:
                - data
              example:
                data:
                  activateLocations:
                    bulkEditTaskId: null
                    clientMutationId: null
                    errors: null
                    result:
                    - errors: null
                      locationId: TG9jYXRpb246MTE3MTM4OQ==
                      status: ACTIVE
                      success: true
                    success: null
          headers: {}
          x-apidog-name: OK
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
          headers: {}
          x-apidog-name: Bad Request
        '401':
          description: Unauthorized - invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
          headers: {}
          x-apidog-name: Unauthorized
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                      examples:
                      - Insufficient permissions to activate locations
                x-apidog-orders:
                - errors
          headers: {}
          x-apidog-name: Forbidden
      security: []
      x-apidog-folder: Locations
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-13659836-run
  /locations/archive:
    post:
      summary: Archive multiple locations
      deprecated: false
      description: "<span style=\"font-size: 14px;\">\n\nThis API allows you to archive One or More Business Locations. \n\n:::info[]\n- <span style=\"font-size: 14px;\">Archiving a location does not delete it from your account.</span>\n- <span style=\"font-size: 14px;\">Archived locations cannot be updated until reactivated.</span>\n- <span style=\"font-size: 14px;\">The location will be scheduled for archival until the end of the billing cycle.</span>\n- <span style=\"font-size: 14px;\">Once the invoice for the next month is generated, the location will be archived.</span>\n- <span style=\"font-size: 14px;\">Payments for archived locations stop after the current billing cycle is completed.</span>\n\n:::\n\n</span>"
      operationId: archiveLocations
      tags:
      - Locations
      parameters:
      - name: Authorization
        in: header
        description: API key for authentication
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  type: object
                  required:
                  - locationIds
                  properties:
                    locationIds:
                      type: array
                      description: Array of location Node IDs to archive
                      items:
                        type: string
                  x-apidog-orders:
                  - locationIds
              x-apidog-orders:
              - input
            example:
              input:
                locationIds:
                - TG9jYXRpb246MTE4MzMzMA==
                - TG9jYXRpb246MTE3MTM4OQ==
      responses:
        '200':
          description: Locations archived successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      archiveLocations:
                        type: object
                        properties:
                          bulkEditTaskId:
                            type:
                            - string
                            - 'null'
                          clientMutationId:
                            type:
                            - string
                            - 'null'
                          errors:
                            type:
                            - array
                            - 'null'
                            items:
                              type: string
                          result:
                            type: array
                            items:
                              type: object
                              properties:
                                errors:
                                  type:
                                  - array
                                  - 'null'
                                  items:
                                    type: string
                                locationId:
                                  type: string
                                  description: Node ID of the location
                                status:
                                  type: string
                                  enum:
                                  - ARCHIVED
                                  - ARCHIVE_SCHEDULED
                                  description: Final status of the archive operation
                                success:
                                  type: boolean
                                  description: Whether the operation was successful
                              x-apidog-orders:
                              - errors
                              - locationId
                              - status
                              - success
                          success:
                            type:
                            - boolean
                            - 'null'
                        x-apidog-orders:
                        - bulkEditTaskId
                        - clientMutationId
                        - errors
                        - result
                        - success
                    x-apidog-orders:
                    - archiveLocations
                x-apidog-orders:
                - data
              example:
                data:
                  archiveLocations:
                    bulkEditTaskId: null
                    clientMutationId: null
                    errors: null
                    result:
                    - errors: null
                      locationId: TG9jYXRpb246MTE3MTM4OQ==
                      status: ARCHIVE_SCHEDULED
                      success: true
                    - errors: null
                      locationId: TG9jYXRpb246MTE4MzMzMA==
                      status: ARCHIVE_SCHEDULED
                      success: true
                    success: null
          headers: {}
          x-apidog-name: OK
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
          headers: {}
          x-apidog-name: Bad Request
        '401':
          description: Unauthorized - invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
          headers: {}
          x-apidog-name: Unauthorized
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
          headers: {}
          x-apidog-name: Forbidden
      security: []
      x-apidog-folder: Locations
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-13659698-run
  /locations/advanced-search-filters:
    get:
      summary: Available advanced filter values
      deprecated: false
      description: '<br>

        <span style="font-size: 14px;">


        Returns the distinct values available for the advanced location filters across the account''s locations: countries, states, cities, postal (zip) codes, and custom attribute names. Use these values to populate the advanced filter controls before calling Filter locations.

        </span>'
      operationId: advancedSearchFilters
      tags:
      - Locations
      parameters:
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      advancedSearchFilters:
                        $ref: '#/components/schemas/LocationAdvancedSearchFilterType'
                    x-apidog-orders:
                    - advancedSearchFilters
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Locations
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40051636-run
  /locations/search-filters:
    get:
      summary: Available search filter values
      deprecated: false
      description: '<br>

        <span style="font-size: 14px;">


        Returns the distinct values available for the standard location filters across the account''s accessible locations: tags, folders, categories, additional categories, and Google Business Profile (GBP) categories (primary and additional). Use these values to populate the filter controls before calling Filter locations.

        </span>'
      operationId: searchFilters
      tags:
      - Locations
      parameters:
      - name: Synup-Version
        in: header
        description: API version date (YYYY-MM-DD).
        required: true
        example: '2026-04-17'
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication.
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      searchFilters:
                        $ref: '#/components/schemas/LocationSearchFilterType'
                    x-apidog-orders:
                    - searchFilters
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x-apidog-ignore-properties: []
          headers: {}
          x-apidog-name: ''
      security: []
      x-apidog-folder: Locations
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-40051651-run
  /locations/cancel_archive:
    post:
      summary: Cancel scheduled location archival
      deprecated: false
      description: "<span style=\"font-size: 14px;\">\nUse this API to cancel the archival of locations that are scheduled for archival but have not yet been processed.\n    \n:::info[]\n    \n<span style=\"font-size: 14px;\">\n**Important Notes:**\n- <span style=\"font-size: 14px;\">This endpoint can only cancel archival for locations that are in **ARCHIVE_SCHEDULED** status</span>\n- <span style=\"font-size: 14px;\">Once canceled, the location will return to **ACTIVE** status and can be updated as usual.</span>\n- <span style=\"font-size: 14px;\">Billing for the location will continue as per the standard cycle.</span>\n </span>\n   \n:::\n    </span>"
      operationId: cancelLocationsArchive
      tags:
      - Locations
      parameters:
      - name: Authorization
        in: header
        description: API key for authentication
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      - name: Content-Type
        in: header
        description: ''
        required: true
        example: application/json
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  type: object
                  required:
                  - locationIds
                  properties:
                    locationIds:
                      type: array
                      description: Array of location Node IDs to cancel archival for
                      items:
                        type: string
                  x-apidog-orders:
                  - locationIds
              x-apidog-orders:
              - input
            example:
              input:
                locationIds:
                - TG9jYXRpb246MTE4MzMzMA==
      responses:
        '200':
          description: Location archival cancellation successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      cancelLocationsArchive:
                        type: object
                        properties:
                          bulkEditTaskId:
                            type:
                            - string
                            - 'null'
                            description: ID of bulk edit task if multiple locations are involved
                          clientMutationId:
                            type:
                            - string
                            - 'null'
                          errors:
                            type:
                            - array
                            - 'null'
                            items:
                              type: string
                          result:
                            type: array
                            items:
                              type: object
                              properties:
                                errors:
                                  type:
                                  - array
                                  - 'null'
                                  items:
                                    type: string
                                locationId:
                                  type: string
                                  description: Node ID of the location
                                status:
                                  type: string
                                  enum:
                                  - ACTIVE
                                  description: Status after cancellation
                                success:
                                  type: boolean
                                  description: Whether the operation was successful
                              x-apidog-orders:
                              - errors
                              - locationId
                              - status
                              - success
                          success:
                            type:
                            - boolean
                            - 'null'
                        x-apidog-orders:
                        - bulkEditTaskId
                        - clientMutationId
                        - errors
                        - result
                        - success
                    x-apidog-orders:
                    - cancelLocationsArchive
                x-apidog-orders:
                - data
              example:
                data:
                  cancelLocationsArchive:
                    bulkEditTaskId: null
                    clientMutationId: null
                    errors: null
                    result:
                    - errors: null
                      locationId: TG9jYXRpb246MTE4MzMzMA==
                      status: ACTIVE
                      success: true
                    success: null
          headers: {}
          x-apidog-name: OK
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
          headers: {}
          x-apidog-name: Bad Request
        '401':
          description: Unauthorized - invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
          headers: {}
          x-apidog-name: Unauthorized
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
          headers: {}
          x-apidog-name: Forbidden
        '404':
          description: Location not found or not in ARCHIVE_SCHEDULED status
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
          headers: {}
          x-apidog-name: Record Not Found
      security: []
      x-apidog-folder: Locations
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-13659850-run
  /locations/photos/requests/{requestId}:
    get:
      summary: Check Bulk Photo Upload Status
      deprecated: false
      description: "<span style=\"font-size: 14px;\">\n\nThis API monitors the progress of uploading multiple photos to a location, which is particularly useful when the upload involves more than 30 photos.\n    \nRetrieve the current status of a bulk image upload request for a location. Use the requestId returned in the Upload Photos API to fetch the status.\n    \nFor more details, refer to [Manage photos for your location](https://developer.synup.com/doc-833258.md). \n</span>"
      operationId: checkBulkPhotoUploadStatus
      tags:
      - Locations
      parameters:
      - name: requestId
        in: path
        description: Request ID returned from bulk upload photos API
        required: true
        example: ''
        schema:
          type: string
          format: uuid
          examples:
          - d5673c0a-f9ca-4588-84fa-528ff7feac56
      - name: Authorization
        in: header
        description: API key for authentication
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved upload status
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      getLocationPhotosUploadStatus:
                        type: object
                        properties:
                          status:
                            type: string
                            description: 'Current status of the upload process:

                              * PROCESSING - Image Upload in progress. Check again later.

                              * SUCCESS - Image Upload successfully completed.

                              * ERROR - Image upload process failed.

                              '
                            enum:
                            - PROCESSING
                            - SUCCESS
                            - ERROR
                            examples:
                            - PROCESSING
                            - SUCCESS
                            - ERROR
                            x-apidog-enum:
                            - value: PROCESSING
                              name: ''
                              description: ''
                            - value: SUCCESS
                              name: ''
                              description: ''
                            - value: ERROR
                              name: ''
                              description: ''
                          requestId:
                            type: string
                            description: The ID of the bulk upload request
                            format: uuid
                            examples:
                            - e6c2d9d9-9a18-4015-88cf-9a4e19a6f49a
                        x-apidog-orders:
                        - status
                        - requestId
                    x-apidog-orders:
                    - getLocationPhotosUploadStatus
                x-apidog-orders:
                - data
              example:
                data:
                  getLocationPhotosUploadStatus:
                    requestId: e6c2d9d9-9a18-4015-88cf-9a4e19a6f49a
                    status: SUCCESS
          headers: {}
          x-apidog-name: OK
      security: []
      x-apidog-folder: Locations
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-13642386-run
  /locations:
    post:
      summary: Create a new business location
      deprecated: false
      description: "<span style=\"font-size: 14px;\">\nA **Location** represents a physical business entity within your account and serves as the foundation for managing and interacting with the API’s features. Each Location acts as a centralized hub for managing and accessing data related to that specific business, including:\n    \n- **Listings Management**: Maintain accurate and consistent business details across multiple publishers.\n- **Review Monitoring**: Track and respond to customer feedback associated with the location.\n- **Performance Insights**: Analyze key metrics related to visibility, engagement, and growth.\n- **SEO Optimization**: Enhance local search presence and improve rankings.\n\n<br>\n    \n\n**_See the Request Section for a detailed data schema of Supported Fields. Here’s a key detail to keep in mind:_**\n</span>\n\n\n:::info []\n<span style=\"font-size: 14px;\">\n**Processing Time for Location Updates**\nUpdates to any location attributes, including `enabledSiteIds` or `submissionDisabledSiteIds`, are processed asynchronously before they are accurately reflected across all publishers and within the system.\n\n<span style=\"font-size: 14px;\"> For example, If the business hours for a location are updated in the system, the changes are processed asynchronously before being reflected across all publishers. </span>\n    \n</span>\n:::\n"
      operationId: createLocation
      tags:
      - Locations
      parameters:
      - name: Authorization
        in: header
        description: 'API key for authentication '
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  type: object
                  properties:
                    name:
                      type: string
                      description: Name of the business
                    storeId:
                      type:
                      - string
                      - 'null'
                      description: Unique store identifier. Must be unique across all locations.
                    street:
                      type: string
                      description: Street address of the business
                    street1:
                      type: string
                      description: Additional street address information
                    city:
                      type: string
                      description: City where the business is located
                    postalCode:
                      type: string
                      description: Postal code of the business location
                    phone:
                      type: string
                      title: ''
                      description: "- Must follow the international **E.164 format**. [Ref here.](https://www.twilio.com/docs/glossary/what-e164)\n- Do not include the `+` sign or country code.\n- Remove parentheses and special characters.\n- Example:\n  - **Incorrect**: `(123)-456-7890`, `+1-123-456-7890`\n  - **Correct**: `1234567890`"
                      examples:
                      - '1234567890'
                    stateIso:
                      type: string
                      description: State ISO code. Refer to the Places API for valid ISOs.
                    countryIso:
                      type: string
                      description: Country ISO code. Refer to the Places API for valid ISOs.
                    ownerEmail:
                      type: string
                      description: Email of the business owner
                    ownerName:
                      type: string
                      description: Name of the business owner
                    subCategoryId:
                      type: integer
                      description: 'ID of the subcategory the business belongs to '
                    description:
                      type: string
                      description: Detailed description of the business
                    bizUrl:
                      type: string
                      description: URL of the business website
                    facebookUrl:
                      type: string
                      description: URL of the business's Facebook page
                    twitterUrl:
                      type: string
                      description: URL of the business's Twitter page
                    linkedinUrl:
                      type: string
                      description: URL of the business's LinkedIn page
                    instagramUrl:
                      type: string
                      description: URL of the business's Instagram page
                    youtubeUrl:
                      type: string
                      description: URL of the business's YouTube page
                    tiktokUrl:
                      type: string
                      description: URL of the business's TikTok page
                    pinterestUrl:
                      type: string
                      description: URL of the business's Pinterest page
                    tagline:
                      type: string
                      description: Tagline of the business
                    paymentMethods:
                      type: array
                      items:
                        type: string
                        enum:
                        - VISA
                        - MASTERCARD
                        - AMEX
                        - CASH
                        - CHEQUE
                        - CRYPTO
                        - DINERS_CLUB
                        - DISCOVER
                        - FINANCING
                        - INVOICE
                        - TRAVELERS_CHECK
                        - APPLE_PAY
                        - SAMSUNG_PAY
                        - PAYPAL
                        - ANDROID_PAY
                        x-apidog-enum:
                        - value: VISA
                          name: ''
                          description: ''
                        - value: MASTERCARD
                          name: ''
                          description: ''
                        - value: AMEX
                          name: ''
                          description: ''
                        - value: CASH
                          name: ''
                          description: ''
                        - value: CHEQUE
                          name: ''
                          description: ''
                        - value: CRYPTO
                          name: ''
                          description: ''
                        - value: DINERS_CLUB
                          name: ''
                          description: ''
                        - value: DISCOVER
                          name: ''
                          description: ''
                        - value: FINANCING
                          name: ''
                          description: ''
                        - value: INVOICE
                          name: ''
                          description: ''
                        - value: TRAVELERS_CHECK
                          name: ''
                          description: ''
                        - value: APPLE_PAY
                          name: ''
                          description: ''
                        - value: SAMSUNG_PAY
                          name: ''
                          description: ''
                        - value: PAYPAL
                          name: ''
                          description: ''
                        - value: ANDROID_PAY
                          name: ''
                          description: ''
                      description: Accepted payment methods ("VISA", "MASTERCARD", "AMEX", "CASH", "CHEQUE", "CRYPTO", "DINERS_CLUB", "DISCOVER", "FINANCING", "INVOICE", "TRAVELERS_CHECK", "APPLE_PAY", "SAMSUNG_PAY", "PAYPAL", "ANDROID_PAY" )
                    yearOfIncorporation:
                      type: integer
                      description: Year the business was established
                    hideAddress:
                      type: boolean
                      description: Set to true if location is a Service Area Business
                    businessHours:
                      type: array
                      description: Business hours for each day of the week
                      items:
                        type: object
                        properties:
                          day:
                            type: string
                            description: Day of the week
                            enum:
                            - MONDAY
                            - TUESDAY
                            - WEDNESDAY
                            - THURSDAY
                            - FRIDAY
                            - SATURDAY
                            - SUNDAY
                            x-apidog-enum:
                            - value: MONDAY
                              name: ''
                              description: ''
                            - value: TUESDAY
                              name: ''
                              description: ''
                            - value: WEDNESDAY
                              name: ''
                              description: ''
                            - value: THURSDAY
                              name: ''
                              description: ''
                            - value: FRIDAY
                              name: ''
                              description: ''
                            - value: SATURDAY
                              name: ''
                              description: ''
                            - value: SUNDAY
                              name: ''
                              description: ''
                          slots:
                            type: array
                            items:
                              type: object
                              properties:
                                start:
                                  type: string
                                  description: 'Opening time. Valid formats: `<HH>:<MM>am` OR `<HH>:<MM>pm` '
                                end:
                                  type: string
                                  description: 'Closing time. Valid formats: `<HH>:<MM>am` OR `<HH>:<MM>pm` '
                              x-apidog-orders:
                              - start
                              - end
                              title: ''
                              x--orders:
                              - start
                              - end
                              x--ignore-properties: []
                            description: Array of time slots (minimum 1, maximum 2). Required only if type is OPEN.
                            title: ''
                          type:
                            type: string
                            description: Type of business hours (e.g., OPEN, CLOSED, OPEN_24x7)
                            enum:
                            - OPEN
                            - OPEN_24x7
                            - CLOSED
                            x-apidog-enum:
                            - value: OPEN
                              name: ''
                              description: ''
                            - value: OPEN_24x7
                              name: ''
                              description: ''
                            - value: CLOSED
                              name: ''
                              description: ''
                        x-apidog-orders:
                        - day
                        - slots
                        - type
                        required:
                        - day
                        - slots
                        - type
                        x--orders:
                        - day
                        - slots
                        - type
                        x--ignore-properties: []
                    additionalCategoryIds:
                      type: array
                      description: Additional category IDs for the business
                      items:
                        type: integer
                    videos:
                      type: array
                      description: List of valid video URLs
                      items:
                        type: string
                    tenure:
                      type: string
                      description: 'Required when an account has multiple subscriptions. Specifies the tenure (e.g., Monthly).


                        For accounts with multiple subscriptions, specify the tenure of the corresponding subscription. Refer to [Subscriptions](https://developer.synup.com/list-active-subscriptions-api-13639877.md) for details.'
                      writeOnly: true
                      examples:
                      - Monthly
                      - Yearly
                    enabledSiteIds:
                      type: array
                      description: List of site IDs where the business details should be published
                      items:
                        type: integer
                    submissionDisabledSiteIds:
                      type: array
                      description: List of site IDs where the business details should not be published
                      items:
                        type: integer
                    temporarilyClosed:
                      type: boolean
                      description: Set to true if the location's business hours should be marked as closed
                    additionalPhones:
                      type: array
                      description: Additional contact phone numbers
                      items:
                        type: string
                    googleAdsPhone:
                      type: string
                      description: Google Ads-specific phone number
                    bookingUrl:
                      type:
                      - string
                      - 'null'
                      description: URL for booking appointments. Applicable only for Food industry businesses
                    offeringsUrl:
                      type:
                      - string
                      - 'null'
                      description: URL for listing business offerings. Applicable only for food industry businesses
                    reservationUrl:
                      type:
                      - string
                      - 'null'
                      description: URL for making reservations. Applicable only for restaurant only businesses.
                    placeActionLinks:
                      type: array
                      items:
                        type: object
                        properties:
                          placeActionType:
                            type: string
                            description: One of the valid types.
                            enum:
                            - APPOINTMENT
                            - ONLINE_APPOINTMENT
                            - DINING_RESERVATION
                            - FOOD_ORDERING
                            - FOOD_DELIVERY
                            - FOOD_TAKEOUT
                            - SHOP_ONLINE
                            x-apidog-enum:
                            - value: APPOINTMENT
                              name: ''
                              description: ''
                            - value: ONLINE_APPOINTMENT
                              name: ''
                              description: ''
                            - value: DINING_RESERVATION
                              name: ''
                              description: ''
                            - value: FOOD_ORDERING
                              name: ''
                              description: ''
                            - value: FOOD_DELIVERY
                              name: ''
                              description: ''
                            - value: FOOD_TAKEOUT
                              name: ''
                              description: ''
                            - value: SHOP_ONLINE
                              name: ''
                              description: ''
                          uri:
                            type: string
                            description: Destination URL.
                          isPreferred:
                            type: boolean
                            description: Marks this link preferred for its type. At most one preferred per type.
                        x-apidog-orders:
                        - placeActionType
                        - isPreferred
                        - uri
                        required:
                        - placeActionType
                        - uri
                        x--orders:
                        - placeActionType
                        - uri
                        - isPreferred
                        x--ignore-properties: []
                      description: 'Manage a location''s Place Action Links '
                  x-apidog-orders:
                  - tenure
                  - storeId
                  - subCategoryId
                  - name
                  - street
                  - street1
                  - city
                  - postalCode
                  - phone
                  - stateIso
                  - countryIso
                  - description
                  - ownerEmail
                  - ownerName
                  - bizUrl
                  - facebookUrl
                  - twitterUrl
                  - linkedinUrl
                  - instagramUrl
                  - youtubeUrl
                  - tiktokUrl
                  - pinterestUrl
                  - tagline
                  - paymentMethods
                  - yearOfIncorporation
                  - hideAddress
                  - businessHours
                  - additionalCategoryIds
                  - videos
                  - enabledSiteIds
                  - submissionDisabledSiteIds
                  - temporarilyClosed
                  - additionalPhones
                  - googleAdsPhone
                  - bookingUrl
                  - offeringsUrl
                  - reservationUrl
                  - placeActionLinks
                  required:
                  - name
                  - street
                  - city
                  - postalCode
                  - phone
                  - stateIso
                  - countryIso
                  - subCategoryId
                  - description
                  x--orders:
                  - name
                  - storeId
                  - street
                  - street1
                  - city
                  - postalCode
                  - phone
                  - stateIso
                  - countryIso
                  - ownerEmail
                  - ownerName
                  - subCategoryId
                  - description
                  - bizUrl
                  - facebookUrl
                  - twitterUrl
                  - linkedinUrl
                  - instagramUrl
                  - youtubeUrl
                  - tiktokUrl
                  - pinterestUrl
                  - tagline
                  - paymentMethods
                  - yearOfIncorporation
                  - hideAddress
                  - businessHours
                  - additionalCategoryIds
                  - videos
                  - tenure
                  - enabledSiteIds
                  - submissionDisabledSiteIds
                  - temporarilyClosed
                  - additionalPhones
                  - googleAdsPhone
                  - bookingUrl
                  - offeringsUrl
                  - reservationUrl
                  - placeActionLinks
                  x--ignore-properties: []
              x-apidog-orders:
              - input
              x--orders:
              - input
              x--ignore-properties: []
            example:
              input:
                tenure: Monthly
                name: Whisk & Bloom Bakery
                street: 123 Maple Avenue
                street1: Suite 202
                city: San Francisco
                postalCode: '94107'
                phone: (415) 555-1239
                stateIso: CA
                countryIso: US
                ownerEmail: lana@whiskbloom.com
                ownerName: Lana Thompson
                subCategoryId: 10
                description: Whisk & Bloom Bakery offers a delightful selection of organic and gluten-free baked goods. Our mission is to provide fresh, handmade pastries and cakes crafted with love and the finest ingredients. Visit us for a cozy experience and enjoy our special seasonal treats!
                bizUrl: https://www.whisknbloombakery.com/
                facebookUrl: https://www.facebook.com/whisknbloomBakery/
                linkedinUrl: https://www.linkedin.com/company/whisknbloombakery
                twitterUrl: https://twitter.com/whisknbloomBakery
                instagramUrl: https://www.instagram.com/whisknbloombakery/
                youtubeUrl: null
                tiktokUrl: null
                pinterestUrl: https://www.pinterest.com/whisknbloombakery/
                tagline: Fresh. Organic. Delicious.
                paymentMethods:
                - VISA
                - CASH
                yearOfIncorporation: 2015
                hideAddress: false
                businessHours:
                - day: MONDAY
                  slots:
                  - start: 08:00am
                    end: 12:00pm
                  - start: 01:00pm
                    end: 06:00pm
                  type: OPEN
                - day: TUESDAY
                  slots:
                  - start: 08:00am
                    end: 06:00pm
                  type: OPEN
                - day: WEDNESDAY
                  slots:
                  - start: 08:00am
                    end: 06:00pm
                  type: OPEN
                - day: THURSDAY
                  slots:
                  - start: 08:00am
                    end: 06:00pm
                  type: OPEN
                - day: FRIDAY
                  slots:
                  - start: 08:00am
                    end: 06:00pm
                  type: OPEN
                - day: SATURDAY
                  slots:
                  - start: 08:00am
                    end: 04:00pm
                  type: OPEN
                - day: SUNDAY
                  slots: []
                  type: CLOSED
                additionalCategoryIds: []
                videos: []
                enabledSiteIds: []
                submissionDisabledSiteIds: []
                temporarilyClosed: false
                additionalPhones:
                - (415) 555-5678
                - (415) 555-9012
                googleAdsPhone: (415) 555-3456
                bookingUrl: https://www.whisknbloombakery.com/reservations
                offeringsUrl: https://www.whisknbloombakery.com/menu
                reservationUrl: https://www.whisknbloombakery.com/book
                storeId: null
                placeActionLinks:
                - placeActionType: FOOD_ORDERING
                  uri: https://order.example.com
                  isPreferred: true
                - placeActionType: FOOD_DELIVERY
                  uri: https://deliver.example.com
      responses:
        '200':
          description: Location created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: Contains the response data for the create location request.
                    properties:
                      createLocation:
                        type: object
                        description: Encapsulates details about the created location.
                        properties:
                          errors:
                            type: 'null'
                            description: Errors encountered during the location creation process, if any. Null if no errors.
                          location:
                            description: Details of the created location.
                            type: object
                            x-apidog-refs:
                              01JW6KY3NPVTMY6C967CGDPRQ7:
                                $ref: '#/components/schemas/LocationResponseSchema'
                                x-apidog-overrides:
                                  errors: null
                            x-apidog-orders:
                            - 01JW6KY3NPVTMY6C967CGDPRQ7
                            properties: {}
                            x--orders: []
                            x--ignore-properties: []
                          success:
                            type: boolean
                            description: Indicates whether the location creation was successful.
                          warnings:
                            type: array
                            description: List of warnings generated during the request processing, if any.
                            items:
                              type: string
                        x-apidog-orders:
                        - errors
                        - location
                        - success
                        - warnings
                        x--orders:
                        - errors
                        - location
                        - success
                        - warnings
                        x--ignore-properties: []
                    x-apidog-orders:
                    - createLocation
                    x--orders:
                    - createLocation
                    x--ignore-properties: []
                  message:
                    type: string
                    description: Response message indicating the result of the operation.
                    examples:
                    - Location created successfully
                x-apidog-orders:
                - data
                - message
                x--orders:
                - data
                - message
                x--ignore-properties: []
              examples:
                '1':
                  summary: Success
                  value:
                    data:
                      createLocation:
                        clientMutationId: null
                        errors: null
                        location:
                          accountId: 16154
                          additionalCategoryIds: []
                          additionalInfo: null
                          additionalPhones:
                          - '4155555678'
                          - '4155559012'
                          archived: false
                          archivedAt: null
                          billingPeriod: null
                          bizUrl: https://www.greenleafbakery.com/
                          bookingUrl: https://www.greenleafbakery.com/reservations
                          businessHours:
                          - day: SUNDAY
                            slots: null
                            specialDate: null
                            type: CLOSED
                          - day: MONDAY
                            slots:
                            - end: 12:00pm
                              start: 08:00am
                            - end: 06:00pm
                              start: 01:00pm
                            specialDate: null
                            type: OPEN
                          - day: TUESDAY
                            slots:
                            - end: 06:00pm
                              start: 08:00am
                            specialDate: null
                            type: OPEN
                          - day: WEDNESDAY
                            slots:
                            - end: 06:00pm
                              start: 08:00am
                            specialDate: null
                            type: OPEN
                          - day: THURSDAY
                            slots:
                            - end: 06:00pm
                              start: 08:00am
                            specialDate: null
                            type: OPEN
                          - day: FRIDAY
                            slots:
                            - end: 06:00pm
                              start: 08:00am
                            specialDate: null
                            type: OPEN
                          - day: SATURDAY
                            slots:
                            - end: 04:00pm
                              start: 08:00am
                            specialDate: null
                            type: OPEN
                          categoryId: 15
                          city: San Francisco
                          countryIso: US
                          customAttributes:
                          - archived: false
                            enumValues: []
                            name: bollean01
                            slug: bollean01
                            type: BOOLEAN
                            value:
                            - 'true'
                          - archived: false
                            enumValues: []
                            name: KAM
                            slug: kam
                            type: STRING
                            value:
                            - ''
                          - archived: false
                            enumValues: []
                            name: P_Test01
                            slug: p_test01
                            type: STRING
                            value:
                            - one12
                          - archived: false
                            enumValues: []
                            name: ABC
                            slug: abc
                            type: BOOLEAN
                            value:
                            - 'true'
                          - archived: false
                            enumValues: []
                            name: NJL
                            slug: njl
                            type: BOOLEAN
                            value:
                            - 'true'
                          - archived: false
                            enumValues: []
                            name: ZZZ
                            slug: zzz
                            type: STRING
                            value: []
                          - archived: false
                            enumValues: []
                            name: ALL
                            slug: all
                            type: STRING
                            value:
                            - ss
                          - archived: false
                            enumValues:
                            - gulab jamun
                            - rasgulla
                            - ras malai
                            - jalebi
                            name: Dessets
                            slug: dessets
                            type: ENUM
                            value:
                            - gulab jamun
                          - archived: false
                            enumValues: []
                            name: Attrs
                            slug: attrs
                            type: STRING
                            value: []
                          - archived: false
                            enumValues: []
                            name: Attrs2
                            slug: attrs2
                            type: STRING
                            value: []
                          - archived: false
                            enumValues: []
                            name: Toll-free Number
                            slug: toll-free_number
                            type: INTEGER
                            value:
                            - '80044637'
                          - archived: false
                            enumValues: []
                            name: amenities
                            slug: amenities
                            type: ARRAY
                            value:
                            - wifi
                            - wheelchair
                            - welcoming ceremony
                          - archived: false
                            enumValues: []
                            name: amenities02
                            slug: amenities02
                            type: BOOLEAN
                            value:
                            - 'true'
                          - archived: false
                            enumValues: []
                            name: Amenities-check
                            slug: amenities-check
                            type: BOOLEAN
                            value:
                            - 'false'
                          - archived: false
                            enumValues:
                            - Atr1
                            - atr2
                            - atr3
                            name: Prod_Attribute
                            slug: prod_attribute
                            type: ENUM
                            value:
                            - Atr1
                          - archived: false
                            enumValues: []
                            name: wifi available
                            slug: wifi_available
                            type: BOOLEAN
                            value:
                            - 'true'
                          - archived: false
                            enumValues: []
                            name: QQQQQQQ
                            slug: qqqqqqq
                            type: INTEGER
                            value:
                            - '123'
                          - archived: false
                            enumValues: []
                            name: int02
                            slug: int02
                            type: INTEGER
                            value: []
                          - archived: false
                            enumValues: []
                            name: Tasty
                            slug: tasty
                            type: BOOLEAN
                            value:
                            - 'true'
                          - archived: false
                            enumValues: []
                            name: dhdop
                            slug: dhdop
                            type: STRING
                            value: []
                          - archived: false
                            enumValues: []
                            name: Abstract
                            slug: abstract
                            type: ARRAY
                            value:
                            - abs1
                            - abs2
                            - abs3
                          - archived: false
                            enumValues: []
                            name: Senior Hours Required?
                            slug: senior_hours_required?
                            type: BOOLEAN
                            value:
                            - 'true'
                          - archived: false
                            enumValues: []
                            name: kafka_check_attribute
                            slug: kafka_check_attribute
                            type: ARRAY
                            value:
                            - one
                            - two
                            - three
                          - archived: false
                            enumValues: []
                            name: Parking
                            slug: parking
                            type: BOOLEAN
                            value:
                            - 'false'
                          - archived: false
                            enumValues: []
                            name: googlePlaceId
                            slug: googleplaceid
                            type: STRING
                            value: []
                          - archived: false
                            enumValues: []
                            name: hoursComments
                            slug: hourscomments
                            type: STRING
                            value: []
                          - archived: false
                            enumValues: []
                            name: isOpen
                            slug: isopen
                            type: BOOLEAN
                            value: []
                          - archived: false
                            enumValues: []
                            name: has_bicycle_rack?
                            slug: has_bicycle_rack?
                            type: BOOLEAN
                            value: []
                          - archived: false
                            enumValues:
                            - one
                            - two
                            name: quick
                            slug: quick
                            type: ENUM
                            value:
                            - one
                          - archived: false
                            enumValues: []
                            name: instagramUrl
                            slug: instagramurl
                            type: STRING
                            value: []
                          - archived: false
                            enumValues: []
                            name: analyticsTrackingFireEvent
                            slug: analyticstrackingfireevent
                            type: STRING
                            value: []
                          - archived: false
                            enumValues: []
                            name: placeholderText
                            slug: placeholdertext
                            type: STRING
                            value: []
                          - archived: false
                            enumValues:
                            - FRND
                            - MENMENMEN
                            - BARNEY
                            name: TV
                            slug: tv
                            type: ENUM
                            value:
                            - FRND
                          - archived: false
                            enumValues: []
                            name: notificationEmails
                            slug: notificationemails
                            type: ARRAY
                            value: []
                          - archived: false
                            enumValues: []
                            name: joinUrl
                            slug: joinurl
                            type: STRING
                            value: []
                          - archived: false
                            enumValues: []
                            name: account_att
                            slug: account_att
                            type: ARRAY
                            value:
                            - '1'
                            - '2'
                            - '4'
                            - '3'
                          - archived: false
                            enumValues: []
                            name: Post v2
                            slug: post_v2
                            type: STRING
                            value: []
                          - archived: false
                            enumValues: []
                            name: testingthetest
                            slug: testingthetest
                            type: INTEGER
                            value:
                            - '0'
                          - archived: false
                            enumValues: []
                            name: int0
                            slug: int0
                            type: INTEGER
                            value:
                            - '0'
                          - archived: false
                            enumValues: []
                            name: url_appointment
                            slug: url_appointment
                            type: STRING
                            value: []
                          - archived: false
                            enumValues: []
                            name: Slug
                            slug: slug
                            type: STRING
                            value: []
                          - archived: false
                            enumValues: []
                            name: New Name
                            slug: new_name
                            type: BOOLEAN
                            value:
                            - 'true'
                          - archived: false
                            enumValues: []
                            name: test200
                            slug: test200
                            type: STRING
                            value:
                            - test test
                          - archived: false
                            enumValues: []
                            name: Name
                            slug: name
                            type: STRING
                            value: []
                          - archived: false
                            enumValues: []
                            name: 'Test Department '
                            slug: test_department_
                            type: ARRAY
                            value: []
                          - archived: false
                            enumValues: []
                            name: 'Fresh Fish Section '
                            slug: fresh_fish_section_
                            type: STRING
                            value: []
                          - archived: false
                            enumValues: []
                            name: Test 28 11 22
                            slug: test_28_11_22
                            type: STRING
                            value:
                            - Test 28
                          - archived: false
                            enumValues: []
                            name: accepts reservation
                            slug: accepts_reservation
                            type: BOOLEAN
                            value: []
                          - archived: false
                            enumValues: []
                            name: blablacar
                            slug: blablacar
                            type: STRING
                            value: []
                          - archived: false
                            enumValues: []
                            name: requires temperature check customers
                            slug: requires_temperature_check_customers
                            type: BOOLEAN
                            value:
                            - 'true'
                          - archived: false
                            enumValues: []
                            name: Custom Tee Point
                            slug: custom_tee_point
                            type: STRING
                            value:
                            - tess
                          - archived: false
                            enumValues: []
                            name: appointment_required
                            slug: appointment_required
                            type: BOOLEAN
                            value:
                            - 'true'
                          - archived: false
                            enumValues: []
                            name: requires masks customers
                            slug: requires_masks_customers
                            type: BOOLEAN
                            value: []
                          - archived: false
                            enumValues: []
                            name: is black owned
                            slug: is_black_owned
                            type: BOOLEAN
                            value: []
                          - archived: false
                            enumValues: []
                            name: BewAttribute
                            slug: bewattribute
                            type: STRING
                            value: []
                          - archived: false
                            enumValues: []
                            name: 'Pets 2 '
                            slug: pets_2_
                            type: ARRAY
                            value: []
                          - archived: false
                            enumValues: []
                            name: test214122
                            slug: test214122
                            type: STRING
                            value:
                            - test2
                          - archived: false
                            enumValues: []
                            name: Test123
                            slug: test123
                            type: STRING
                            value: []
                          - archived: false
                            enumValues: []
                            name: ohiiiignore
                            slug: ohiiiignore
                            type: STRING
                            value: []
                          - archived: false
                            enumValues: []
                            name: yesnotest
                            slug: yesnotest
                            type: BOOLEAN
                            value:
                            - 'true'
                          - archived: false
                            enumValues: []
                            name: account_leve_test_for_ext
                            slug: account_leve_test_for_ext
                            type: STRING
                            value: []
                          - archived: false
                            enumValues: []
                            name: Custom location ID
                            slug: custom_location_id
                            type: STRING
                            value: []
                          - archived: false
                            enumValues: []
                            name: Account Attr
                            slug: account_attr
                            type: ARRAY
                            value:
                            - one
                            - two
                            - three
                          - archived: false
                            enumValues:
                            - b
                            - a
                            - c
                            name: enum01
                            slug: enum01
                            type: ENUM
                            value:
                            - a
                          - archived: false
                            enumValues: []
                            name: Paneer Speciality
                            slug: paneer_speciality
                            type: STRING
                            value:
                            - https://sy-media-store.s3-us-west-2.amazonaws.com/f5c4e13cfb1ad0bb962adf283472dc97/ba2a41b19668c5cba709dd63ff2e7f30/be9eafc1-78ca-4515-a164-005a28db4e69.jpg
                          - archived: false
                            enumValues: []
                            name: welcomes_lgbtq
                            slug: welcomes_lgbtq
                            type: BOOLEAN
                            value:
                            - 'true'
                          - archived: false
                            enumValues: []
                            name: Lgbtq+ friendly
                            slug: lgbtq+_friendly
                            type: BOOLEAN
                            value:
                            - 'true'
                          - archived: false
                            enumValues: []
                            name: analyticsTrackingScript
                            slug: analyticstrackingscript
                            type: STRING
                            value: []
                          - archived: false
                            enumValues: []
                            name: url_menu
                            slug: url_menu
                            type: STRING
                            value: []
                          databaseId: 1181652
                          description: Greenleaf Bakery offers a delightful selection of organic and gluten-free baked goods. Our mission is to provide fresh, handmade pastries and cakes crafted with love and the finest ingredients. Visit us for a cozy experience and enjoy our special seasonal treats!
                          facebookUrl: https://www.facebook.com/GreenleafBakery/
                          folderId: 401228fe-8ee9-4914-a08a-db7cda490ec9
                          folderName: root
                          googleAdsPhone: '4155553456'
                          googleplusUrl: null
                          hideAddress: false
                          id: TG9jYXRpb246MTE4MTY1Mg==
                          instagramUrl: https://www.instagram.com/greenleafbakery/
                          isRestaurant: true
                          latitude: 37.7618242
                          linkedinUrl: https://www.linkedin.com/company/greenleafbakery
                          locationPhotos: []
                          longitude: -122.3985871
                          moreHours: []
                          name: 𝗚𝗿𝗲𝗲𝗻𝗹𝗲𝗮𝗳 𝗕𝗮𝗸𝗲𝗿𝘆 & 𝗖𝗮𝗸𝗲
                          offeringsUrl: https://www.greenleafbakery.com/menu
                          ownerEmail: info@greenleafbakery.com
                          ownerName: Emma Thompson
                          package: PREMIUM
                          paymentMethods:
                          - VISA
                          - CASH
                          phone: '4155551239'
                          pinterestUrl: https://www.pinterest.com/greenleafbakery/
                          planId: 86
                          planName: V2 Premium Slow + Fast Sites
                          postalCode: '94107'
                          publisherAttributes: []
                          reservationUrl: https://www.greenleafbakery.com/book
                          serviceItems: []
                          stateIso: CA
                          storeId: null
                          street: 123 Maple Avenue
                          street1: 'Suite #202'
                          subCategory:
                            databaseId: 1432
                            id: U3ViQ2F0ZWdvcnk6MTQzMg==
                            name: Restaurants
                            primary: true
                          subCategoryId: 1432
                          subCategoryName: Restaurants
                          tagline: Fresh. Organic. Delicious.
                          tags:
                          - all
                          temporarilyClosed: false
                          tiktokUrl: null
                          toplineMessage: null
                          toplineMessageText: null
                          twitterUrl: https://twitter.com/GreenleafBakery
                          videos: []
                          yearOfIncorporation: 2015
                          youtubeUrl: null
                          placeActionLinks:
                          - placeActionType: FOOD_ORDERING
                            uri: https://order.example.com
                            isPreferred: true
                            name: null
                            submissionStatus: null
                          - placeActionType: FOOD_DELIVERY
                            uri: https://deliver.example.com
                            isPreferred: false
                            name: null
                            submissionStatus: null
                        success: true
                        warnings: []
                '2':
                  summary: 'Validation Errors: Missing or Invalid Fields'
                  value:
                    data:
                      createLocation:
                        clientMutationId: null
                        errors:
                        - code: SY10011
                          contextInfo:
                          - key: street
                            value: ''
                          message: Street can't be blank
                        - code: SY10015
                          contextInfo:
                          - key: phone
                            value: ''
                          message: Phone Number is invalid
                        - code: SY10005
                          contextInfo:
                          - key: description
                            value: Greenleaf Bakery offers a delightful selection
                          message: Description is too short (minimum is 200 characters)
                        location: null
                        success: false
                        warnings: null
                '3':
                  summary: Missing Tenure in Multi-Subscription
                  value:
                    data:
                      createLocation:
                        clientMutationId: null
                        errors:
                        - code: SY10087
                          contextInfo:
                          - key: tenure
                            value: null
                          message: Tenure is required
                        location: null
                        success: false
                        warnings: null
          headers: {}
          x-apidog-name: OK
        '400':
          description: Bad request, invalid input
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apidog-orders: []
                x--orders: []
                x--ignore-properties: []
          headers: {}
          x-apidog-name: Bad Request
      security: []
      x-apidog-folder: Locations
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/797384/apis/api-13603961-run
    get:
      summary: List all locations
      deprecated: false
      description: "<br>\n<span style=\"font-size: 14px;\">\n\nThis API retrieves a paginated list of locations within the account, allowing for efficient data retrieval when managing multiple locations.\n    \n</span>"
      operationId: listLocations
      tags:
      - Locations
      parameters:
      - name: first
        in: query
        description: Number of records to fetch from the most recent ones (i.e., from the end). Defaults to 50 if not provided.
        required: false
        example: 2
        schema:
          type: integer
          minimum: 1
          examples:
          - 2
      - name: last
        in: query
        description: Number of records to fetch from the earliest ones (i.e., from the beginning).
        required: false
        example: 1
        schema:
          type: integer
          minimum: 1
      - name: after
        in: query
        description: Cursor to fetch records after
        required: false
        example: TG9jYXRpb246MTAw
        schema:
          type: string
      - name: before
        in: query
        description: Cursor to fetch records before
        required: false
        example: ''
        schema:
          type: string
      - name: Authorization
        in: header
        description: API key for authentication
        required: true
        example: API T9V35W3xxxxxxxxxxx
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      allLocations:
                        type: object
                        properties:
                          edges:
                            type: array
                            items:
                              type: object
                              x-apidog-refs: {}
                              x-apidog-orders:
                              - cursor
                              - node
                              properties:
                                cursor:
                                  type: string
                                node:
                                  $ref: '#/components/schemas/LocationResponseSchema'
                              x-apidog-ignore-properties: []
                          pageInfo:
                            $ref: '#/components/schemas/PageInfo'
                        x-apidog-orders:
                        - edges
                        - pageInfo
                        x-apidog-ignore-properties: []
                    x-apidog-orders:
                    - allLocations
                    x-apidog-ignore-properties: []
                x-apidog-orders:
                - data
                x-apidog-ignore-properties: []
              example:
                data:
                  allLocations:
                    edges:
                    - cursor: TG9jYXRpb246MTE5NTI1OA==
                      node:
                        accountId: 16154
                        addOns: []
                        additionalCategoryIds:
                        - 43
                        additionalCategoryNames:
                        - Playgrounds
                        additionalInfo: null
                        additionalPhones: []
                        approved: APPROVED
                        archivalScheduledAt: null
                        archived: false
                        archivedAt: null
                        bizUrl: https://headsupcatchme.com/
                        bizUrlUtm: false
                        bookingUrl: null
                        businessHours:
                        - day: SUNDAY
                          slots: null
                          specialDate: null
                          type: CLOSED
                        - day: MONDAY
                          slots:
                          - end: 05:00pm
                            start: 09:00am
                          specialDate: null
                          type: OPEN
                        - day: TUESDAY
                          slots:
                          - end: 09:00pm
                            start: 09:00am
                          specialDate: null
                          type: OPEN
                        - day: WEDNESDAY
                          slots:
                          - end: 11:30am
                            start: 09:00am
                          - end: 05:00pm
                            start: 01:00pm
                          - end: 09:30pm
                            start: 06:00pm
                          specialDate: null
                          type: OPEN
                        - day: THURSDAY
                          slots: null
                          specialDate: null
                          type: OPEN_24x7
                        - day: FRIDAY
                          slots: null
                          specialDate: null
                          type: CLOSED
                        - day: SATURDAY
                          slots: null
                          specialDate: null
                          type: CLOSED
                        cancellationScheduledAt: null
                        categoryId: 59
                        city: Setauket- East Setauket
                        countryIso: US
                        createErrors:
                        - fieldName: base
                          messages:
                          - A Location with same name, phone number and zip code has already been added.
                        - fieldName: storeId
                          messages:
                          - Store has already been taken
                        createdDate: February 19, 2025
                        customAttributes:
                        - archived: false
                          enumValues: []
                          name: bollean01
                          slug: bollean01
                          type: BOOLEAN
                          value:
                          - 'true'
                        - archived: false
                          enumValues: []
                          name: KAM
                          slug: kam
                          type: STRING
                          value:
                          - ''
                        - archived: false
                          enumValues: []
                          name: P_Test01
                          slug: p_test01
                          type: STRING
                          value:
                          - one12
                        - archived: false
                          enumValues: []
                          name: ABC
                          slug: abc
                          type: BOOLEAN
                          value:
                          - 'true'
                        - archived: false
                          enumValues: []
                          name: NJL
                          slug: njl
                          type: BOOLEAN
                          value:
                          - 'true'
                        - archived: false
                          enumValues: []
                          name: ZZZ
                          slug: zzz
                          type: STRING
                          value: []
                        - archived: false
                          enumValues: []
                          name: ALL
                          slug: all
                          type: STRING
                          value:
                          - ss
                        - archived: false
                          enumValues:
                          - gulab jamun
                          - rasgulla
                          - ras malai
                          - jalebi
                          name: Dessets
                          slug: dessets
                          type: ENUM
                          value:
                          - gulab jamun
                        - archived: false
                          enumValues: []
                          name: Attrs
                          slug: attrs
                          type: STRING
                          value: []
                        - archived: false
                          enumValues: []
                          name: Attrs2
                          slug: attrs2
                          type: STRING
                          value: []
                        - archived: false
                          enumValues: []
                          name: Toll-free Number
                          slug: toll-free_number
                          type: INTEGER
                          value:
                          - '80044637'
                        - archived: false
                          enumValues: []
                          name: amenities
                          slug: amenities
                          type: ARRAY
                          value:
                          - wifi
                          - wheelchair
                          - welcoming ceremony
                        - archived: false
                          enumValues: []
                          name: amenities02
                          slug: amenities02
                          type: BOOLEAN
                          value:
                          - 'true'
                        - archived: false
                          enumValues: []
                          name: Amenities-check
                          slug: amenities-check
                          type: BOOLEAN
                          value:
                          - 'false'
                        - archived: false
                          enumValues: []
                          name: is owned by veterans
                          slug: is_owned_by_veterans
                          type: BOOLEAN
                          value:
                          - 'true'
                        - archived: false
                          enumValues:
                          - Atr1
                          - atr2
                          - atr3
                          name: Prod_Attribute
                          slug: prod_attribute
                          type: ENUM
                          value:
                          - Atr1
                        - archived: false
                          enumValues: []
                          name: wifi available
                          slug: wifi_available
                          type: BOOLEAN
                          value:
                          - 'true'
                        - archived: false
                          enumValues: []
                          name: QQQQQQQ
                          slug: qqqqqqq
                          type: INTEGER
                          value:
                          - '123'
                        - archived: false
                          enumValues: []
                          name: int02
                          slug: int02
                          type: INTEGER
                          value: []
                        - archived: false
                          enumValues: []
                          name: Tasty
                          slug: tasty
                          type: BOOLEAN
                          value:
                          - 'true'
                        - archived: false
                          enumValues: []
                          name: dhdop
                          slug: dhdop
                          type: STRING
                          value: []
                        - archived: false
                          enumValues: []
                          name: Abstract
                          slug: abstract
                          type: ARRAY
                          value:
                          - abs1
                          - abs2
                          - abs3
                        - archived: false
                          enumValues: []
                          name: Senior Hours Required?
                          slug: senior_hours_required?
                          type: BOOLEAN
                          value:
                          - 'true'
                        - archived: false
                          enumValues: []
                          name: kafka_check_attribute
                          slug: kafka_check_attribute
                          type: ARRAY
                          value:
                          - one
                          - two
                          - three
                        - archived: false
                          enumValues: []
                          name: Parking
                          slug: parking
                          type: BOOLEAN
                          value:
                          - 'false'
                        - archived: false
                          enumValues: []
                          name: googlePlaceId
                          slug: googleplaceid
                          type: STRING
                          value: []
                        - archived: false
                          enumValues: []
                          name: hoursComments
                          slug: hourscomments
                          type: STRING
                          value: []
                        - archived: false
                          enumValues: []
                          name: isOpen
                          slug: isopen
                          type: BOOLEAN
                          value: []
                        - archived: false
                          enumValues: []
                          name: has_bicycle_rack?
                          slug: has_bicycle_rack?
                          type: BOOLEAN
                          value: []
                        - archived: false
                          enumValues:
                          - one
                          - two
                          name: quick
                          slug: quick
                          type: ENUM
                          value:
                          - one
                        - archived: false
                          enumValues: []
                          name: instagramUrl
                          slug: instagramurl
                          type: STRING
                          value: []
                        - archived: false
                          enumValues: []
                          name: analyticsTrackingFireEvent
                          slug: analyticstrackingfireevent
                          type: STRING
                          value: []
                        - archived: false
                          enumValues: []
                          name: placeholderText
                          slug: placeholdertext
                          type: STRING
                          value: []
[...]
